.italic {font-style: italic;}
.brand_title {font-size: 26px; color: #333}
.header_drops .nav>li>a {padding-right: 8px; padding-left: 8px;}
.hp_bodywrap {padding-right: 0}
.sdTbs div ul.tab_header li {padding-bottom: 0;}
hr.bold {border:1px dotted #a0a0a0; margin:15px 0;}
.cats_nav {padding-right: 5px;}
.cats_nav .sub-sub-itms li a {padding:4px 0;}
.sub-lvl-two-itm { box-shadow: 2px 3px 4px rgba(0,0,0,.3);}
.top_categories .item { padding-right: 7px; padding-left: 7px }
.top_categories .item small {color: #999}
.top_categories .item .thumbnail {padding: 0; min-height:113px; background:#f6f6f6; border-radius: 3px; }
.top_categories .item img {width:100%; height: 100px; margin-bottom: 5px; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.top_categories .item .content {position: relative; padding:0 5px;}
.top_categories .item i { width:5px; height:8px; position: absolute; right:5px; top:7px; color: #a9a9a9}
.w60 {width:60px;}
.w70 {width:70px;}
.w80 {width:80px;}
.w90 {width:90px;}
.w100 {width:100px;}
.w120 {width:120px;}
/*.product_details .row {font-size: 12px;}*/
.product_details .row .opt {border-bottom: 1px solid #e5e5e5; padding-top: 10px; padding-bottom: 10px; padding-left: 0px;}
.product_details .row .attr {color: #999; text-align: right; font-weight: bold; padding-right: 8px; }
.nav>li.auth_nav>a {display: inline-block !important; padding-right: 4px; padding-left: 4px;}
.floating-form{max-width:320px;padding:30px 30px 10px;background:#f0f0f0;border:1px solid #ddd;right:10px;position:fixed;box-shadow:-2px 0 8px rgba(43,33,33,0.5);-moz-box-shadow:-2px 0 8px rgba(43,33,33,0.5);-webkit-box-shadow:-2px 0 8px rgba(43,33,33,0.5);z-index: 99999}
.contact-opener{position:absolute;left:-73px;transform:rotate(-90deg);top:205px;text-shadow:1px 1px 1px rgba(0,0,0,.43);border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}
.floating-form-heading{border-bottom:2px solid #ddd;margin-bottom:10px;font-size:15px;padding-bottom:3px}
.floating-form span.required{color:red}
.floating-form .tel-number-field{width:40px;text-align:center}
.floating-form .select-field,.floating-form .tel-number-field,.floating-form .textarea-field,.floating-form input.input-field{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border:1px solid #C2C2C2;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;padding:7px;outline:0}
.floating-form .input-field:focus,.floating-form .select-field:focus,.floating-form .tel-number-field:focus,.floating-form .textarea-field:focus{border:1px solid #0C0}
.contact-opener,.floating-form input[type=button],.floating-form input[type=submit]{background-color:#216288;border:1px solid #17445E;display:inline-block;cursor:pointer;color:#FFF;padding:8px 18px;text-decoration:none;font-size:15px}
.contact-opener,.floating-form input[type=button]:hover,.floating-form input[type=submit]:hover{background-color:#00509F}
.floating-form .success{background:#D8FFC0;color:#2E6800;border-left:3px solid #2E6800}
.floating-form input[type=submit]:hover{background-color:#F8A605}
.floating-form .success{background:#D8FFC0;color:#2E6800;border-left:3px solid #2E6800}
.floating-form .error,.floating-form .success{padding:5px 10px;margin:0 0 5px;border:none;}
.floating-form .error{background:#FFE8E8;color:red;border-left:3px solid red}

.hot_products .item img {height: 129px;}
.subscribe_form input[type="text"], .subscribe_form input[type="email"] {width:150px;}
.breadcrumb {background: none; margin-bottom: 5px;}
.sdMnu .cat-img {width: 600px; height: 533px; bottom: -26px;  left: -1px; position: absolute; z-index: 999}
.sdMnu .cat-img img {display: inline;}
.subscribe_form form {float: right;}
.sponsored_products figure.asid-prdct-itm {margin-bottom: 15px !important;}
.lvl-one-mnu-itm a.parent:after {font-family:'FontAwesome'; content:"\f105"; float:right; overflow:hidden; font-size:16px; color:#a0a0a0; margin-top: -3px;}
.top_categories .content:before {font-family:'FontAwesome'; content:"\f105"; float: right;}
.featured_suppliers .vw-mr-btn:after {font-family:'FontAwesome'; content:"\f18e"; padding-left: 5px;}
.latest_deals .vw-mr-btn:after {font-family:'FontAwesome'; content:"\f18e"; padding-left: 5px;}
.ul_submenu {float: left; width: 50%;}
.cart_more_products .prod_img {max-height: 70px; max-width: 90px; overflow: hidden;}

.deals_grid span {color: #7e7e7e}
.deals_grid ul.options {margin: 0; padding: 0; font-size: 12px; margin-top: 8px; }
.deals_grid ul.options li {list-style-type: none; padding-bottom: 3px;}
.deals_grid .deal_appr {color: #fff; padding:4px 12px; margin-right: 8px;}
.deal_contact ul {list-style: none; margin: 0; padding:0; font-size: 12px;}
.deal_contact li { color: #747474;padding: 3px 0;border-bottom: 1px solid #ededed;position: relative;overflow: hidden;}
.deal_contact li i {width: 18px;height: 18px;font-size:15px;margin: 1px 10px 0 0;float: left;}
.deal_contact i.fa-hourglass-end {color: #FFCB00}
.deal_contact i.fa-calendar {color: #16B5FF}
.deal_contact i.flag {margin-top:-3px; }

.deal_types_filter {margin:0; padding: 0}
.deal_types_filter li {list-style-type: none;}
.deal_types_filter .abbr {display: inline-block; width:30px; color: #fff}
.deal_types_filter .offers a {color: #FF9000}
.deal_types_filter .requests a {color: #4BC0F6}
.deal_types_filter .partnerships a {color: #7DBE09}
.deal_types_filter .offers .abbr {background: #FF9000}
.deal_types_filter .requests .abbr {background: #4BC0F6}
.deal_types_filter .partnerships .abbr {background: #7DBE09}
.deal_types_filter .subitems {margin:0; padding:0;}
.deal_types_filter .subitems li {list-style-type: none;}
.deal_types_filter .subitems a {color: #024485}

.social_follow_us a {font-size: 22px;}
.offer_vars span {color: #666}
.jplist-panel .dropdown-menu .divider {margin: 0}
.jplist-panel .dropdown-menu a {font-size: 12px;}
.options-col span.flgname {display: inline;}
.deal_info .deal_head { font-weight: bold; }
.hdr-styl-001 {margin-top: 0}
.asid-prdct-itm {margin-bottom: 10px;}
.mobile_res {display: none;}
@media (max-width: 600px) {
  legend {font-size: 18px;}
  .navbar-header {width: initial;}
  .navbar-collapse.collapse.in {z-index: 99999; overflow: visible; max-height: 200px;}
  .swap-hid-area .navbar-nav>li {display: inline-block;}
  .swap-hid-area .navbar-nav {padding:10px !important;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #cbe2e4}
  .tabs-00 {padding:3px 0 3px 0;}
  main {padding-top: 150px !important;}
  .hot_services {width: 100%; clear: both;}
  .copyright-txt {text-align: center;}
  .footer_cats li {width:50%; float: left;}
  .subscribe_form input[type="text"], .subscribe_form input[type="email"] {width: initial;}
  ul.sub-lvl-two-itm {left:100px;}
  .tabs02 a.tab_nav {padding:12px 8px; font-size: 15px;}
  .table-responsive {width:initial;}
  .hdr-styl-001 {margin-top: 10px; font-size: 24px;}
  .subscribe_form form {float: none;}
  .subscribe_form .form-group {margin-bottom: 10px;}
  .top_categories .item .thumbnail {min-height: 120px; margin-bottom: 10px;}
  a.pst-by-btn {display: none !important;}
  a.crt-btn:link, a.crt-btn:visited {margin-left:4px; padding:3px 5px;}
  .mn-srch-btn, .mn-srch-btn:visited {width:30px;}
  .srch-tbs-cntnt {padding:7px;}
  .srch-tbs-cntnt input {font-size: 12px;}
  .tabs-00 .ui-state-default a:link, .tabs-00 .ui-state-default a:visited { font-size: 14px;height: 26px;line-height: 25px; }
  .tabs02  {margin-top: 10px;}
  .spnsrs-asid {width:96%;}
  .spnsrs-asid figure {margin: initial;}
  .inner-pg-cntnr {padding-top: 5px;}
  .breadcrumb>li>a {font-size: 12px;}

  .contact-opener, .floating-form input[type=button], .floating-form input[type=submit] {padding:4px 11px; font-size: 14px;}
  .contact-opener {left:-62px}
  .floating-form {min-width: 290px;}
  .sdMnu, .sdTbs {padding:initial !important;}
  .mobile_res {display: block;}
  .cats_pc_menu {display: none; }
  .mobile_res .navbar-collapse.collapse.in {max-height: initial; position: initial;}
  .mobile_res .navbar-nav {margin: 0;}
  .cats_toggle {display: inline-block;}
}
/* 
  Theming 
  blue:#00509F
  orange:#F8A605
*/
.tabs-00 .ui-state-active a:link, .tabs-00 .ui-state-active a:visited {background: #00509F; }
.tabs-00 .ui-state-active a:link, .tabs-00 .ui-state-active a:visited {color: #fff}
.srch-tbs-cntnt {background: #00509F }
.crt-area {background: transparent;}
a.pst-by-btn:link, a.pst-by-btn:visited {background: #F8A605; height:32px; }
a.crt-btn:link, a.crt-btn:visited {}
.tabs-01 .ui-state-default a:link span, .tabs-01 .ui-state-default a:visited span {color: #F8A605}
.tabs-01>ul:first-child li:last-child {border-top:5px solid #F8A605;}
nav header h2 a:link, nav header h2 a:visited {color: #F8A605}
.hdr-styl-01 {color:#F8A605;}
.clnst-tstmls-itm h5 {color:#00509F }
.clnst-tstmls-itm h6 {color:#1dbcfc; font-weight: bold; }
.tabs-01>ul:first-child li:first-child a:link span, .tabs-01>ul:first-child li:first-child a:visited span {color: #00509F}
.tabs-01>ul:first-child li:first-child {border-top:5px solid #00509F;}
.mn-srch-btn, .mn-srch-btn:visited {background-color:#F8A605; border: 1px solid #00509F; }
.wht-cnts-say header {color: #F8A605}
.clnst-tstmls-itm span {font-size: 13px;}
.wht-cnts-say .testimontial i {color: #00509F}
.testimontial_footer {width:100%; padding:5px 10px; float: left; clear: both; background: #EDF5F9; border-top:1px dotted #85d6fd; width:100%; margin-bottom: 15px;}
.lvl-one-mnu-itm a:link, .lvl-one-mnu-itm a:visited {font-size: 13px;}
.deals-row article figure figcaption a:link, .deals-row article figure figcaption a:visited {font-size: 13px;}
.inner-pg-cntnr {padding-top: 15px; padding-bottom: 15px;}
.grn-mid-hdr{color:#F8A605}
.grn-btn.btn-sm {font-size: 13px;line-height: 30px;display: inline-block;padding: 0 15px;}
.clnst-tstmls-itm p.testimontial {margin-top: 10px;}
.sp-wrap {max-width: 100%;}
.auth_nav {margin-right: 20px;}
.innr-ftshrd-sup .asid-prdct-itm {padding-right: 8px; padding-left: 8px; min-height: 175px}
.co_info .col-md-8 { padding-top: 7px; }
.banner_upgrades {width:100%; float: left; clear: both; margin-bottom: 10px; padding:15px; background: #ffe29d; border-bottom: 3px solid #E78B16;}
.banner_upgrades h3 {margin:0 0 10px 0; font-size: 16px; font-weight: bold; color: #ff7114}
.banner_unit {width:100%; float: left; clear: both; margin-bottom: 15px;}
.banner_unit img {width: 100%;}
.locked{display: none;}
.sp-large img:hover {width: initial;}

.tabs_search.nav-tabs {border-bottom: 1px solid #e6e6e6;}
.tabs_search.nav-tabs>li>a {background-color: #e6e6e6; padding: 2px 20px;  margin-left: 10px;}
.tabs_search.nav-tabs>li.active>a, .tabs_search.nav-tabs>li.active>a:focus, .tabs_search.nav-tabs>li.active>a:hover {background-color: #00509F; border:none; border-bottom:2px solid #00509F; color: #fff; border-bottom-right-radius: 0; border-bottom-left-radius: 0}
.tabs_new {margin:6px 0;}
.exporters_paginate ul.pagination { float: left; padding-top: 0; margin-top: 0; }
.exporters_list .item {padding: 10px 0; border-bottom: 1px dotted #e0e0e0  }
.supplier_info li {border-bottom: 1px dotted #f0f0f0; padding:5px 0;}
.locked_layer {position: absolute; top:0; bottom:0; width: 100%; height: 100%; content:'lock'; background: rgba(0,0,0,0.9);
 -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}