@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot');
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/droidkufi/DroidKufi-Regular.woff') format('woff'), url('../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype'), url('../fonts/droidkufi/DroidKufi-Regular.svg#DroidKufi-Regular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot');
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi/DroidKufi-Bold.woff') format('woff'),url('../fonts/droidkufi/DroidKufi-Bold.ttf') format('truetype'),url('../fonts/droidkufi/DroidKufi-Bold.svg#DroidKufi-Bold') format('svg');
    font-weight: normal; font-style: normal;
}
body {font-family: 'Droid Arabic Kufi', sans-serif; font-size: 14px;}
.navbar-brand img {margin-top: 2px;}
ul.sub-lvl-two-itm {left:initial; right: 210px !important;}
.subcats ul.sub-lvl-two-itm {left:initial; right: 176px !important;}
header h3, header h4, header h5  {font-weight: bold;}
.sid-mnu .fa-angle-right {float: left;}
.tabs-00 ul.ui-tabs-nav {float: right;}
.tabs-00 .navbar-right { float: left !important; }
a.img-lnk-hldr:link, a.img-lnk-hldr:visited {float: right; margin-left:8px; margin-right: 0}
.flg-ico {float: left; margin-left: 0}
a.tag, span.tag {float: left;}
.tabs-01 .icos {float: right; margin-left: 10px;}
.crt-area {float: left;}
.crt-area.open ul.dropdown-menu, .crt-area ul.dropdown-menu {left:0px;right:initial;width:277px;}
.mn-srch-btn, .mn-srch-btn:visited {float: left;}
.srch-tbs-cntnt div {padding-right: 0;}
.sdMnu, .sdTbs {padding: 0}
.sub-lvl-two-itm h4 {margin-right: 44px;}
.top_categories .item i {left: 5px; right: initial;}
.fedbk-bx{top:70px;left:-381px;border-right:1px solid #16b5ff;}
.fedbk-bx form {float: right; width: 300px;}
.fedbk-btn {margin-left: -81px; margin-top: 20px;}
.contact-opener {left: -85px}
.alrm-ico { background-position:right center;padding-right: 17px;padding-left: 3px;}
.owl-btn-brdr {direction: ltr;}
.adToCrt {right: 15px; left:initial;}
.tabs02 ul {margin: 0 15px;}
.hot_products .item, .hot_products .item span {text-align: right;}
.grbd-itms {padding-left: 0}
.folow-us span, .folow-us a {float: right;}
.subscribe_form  {float: left;}
.trms-lst li {float: right;}
footer .copyright-txt {text-align: left;}
.breadcumb-list {overflow: visible;}
.breadcumb-list li::after {left: -2px; right: initial;}
.sdMnu .cat-img {left: -51px}
.mor-mnu-itms a {padding-right: 42px;}
.brcrmb-inr ul {padding-right: 0;}
.breadcumb-list li {margin-left: 10px; margin-right: initial;}
.breadcumb-list li a:link, .breadcumb-list li a:visited {margin-left:10px; margin-right: initial; }
a.vw-mr-btn {padding-right: initial; }
.subscribe_form form {float: left;}
.lvl-one-mnu-itm a.parent:after {content:"\f104"; float:left; }
.top_categories .content:before {content:"\f104"; float:left; color: #aaa}
.featured_suppliers .vw-mr-btn:after {content:"\f190"; padding-right: 5px;}
a.vw-mr-btn:link{padding-right: 0}
.lstng-stly-02 figure figcaption h3 span {float: left; margin-right: initial; margin-left: -10px;}
.latest_deals .vw-mr-btn:after {font-family:'FontAwesome'; content:"\f190"; padding-right: 5px;}
.featured-tg {left:-6px; right: initial;}
.cart_products .interested {float: left !important;}
.sub-sub-itms li {float: right;}
.ul_submenu {float: right;}
.sid-mnu ul {padding-right: 15px;}
.sub-lvl-two-itm h4 {margin-right: 15px;}
/*.contact-opener {left:-44px;}*/
.floating-form {left: 10px; right: initial;}
.contact-opener {right: -81px; left: initial; border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px}
.pgwSlider .ps-current {float: right;}
ul.pgwSlider, .pgwSlider ul {float: left;}
.deal_contact li i {float: right; margin:1px 0 0 10px;}
.post_deal {float:left !important;}
.deals-row .tag {float:right !important; margin-left:10px;}
.deal_info {float: right !important;}
.deals_grid .deal_appr {float: right; margin-right: 0; margin-left: 8px;}
.trms-lst li:first-child{border-right:0; padding-left: 10px; padding-right: 0; border-left:1px solid #595959;}
.clnt-stt > * {padding-left: 15px; padding-right: 0}
.dataTables_length {text-align: left;}
.pro-thumb-row .options-col {padding-right: 0;}
@media (max-width: 600px) {
  ul.sub-lvl-two-itm {right:100px;}
  .grbd-itms {padding-left: initial;}
  .contact-opener {right: -71px}
  .mobile_res .navbar-toggle {float: right;}
}
.featured-tg {transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
.prnt-br  {padding-right: 0;}
.clnst-tstmls-itm img {margin-left: 10px; margin-right: 0; float: right;}
.hp_bodywrap {padding-left: 0; padding-right: initial;}
select.form-control {padding-top:3px !important;}
.hot_services a.pull-left {float: right;}
.auth_nav {margin-left: 10px; margin-right: initial;}
.fv-ico {float: right; margin-right: 0;}
.tabs_search.nav {padding-right: 2px;}
.strips_menu_col { padding-right: 0; }