body{font-family:Arial,Tahoma}
main{padding-top:94px}
a:hover,a:active{color:#ff8000}
.navbar-brand > img{display:block;max-width:100%;max-height:100%}
.inner-pg-cntnr{background:#f7f7f7;padding-top:20px}
.navbar-brand{height:66px;padding:5px 10px 4px 10px}
.navbar{-moz-box-shadow:2px 1px 10px rgba(68,68,68,0.6);-webkit-box-shadow:2px 1px 10px rgba(68,68,68,0.6);box-shadow:2px 1px 10px rgba(68,68,68,0.6);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);background-color:#f7f7f7}
.navbar-default .navbar-toggle{border:0;background-color:#FFF}
.navbar-default .navbar-toggle .icon-bar{background-color:#000}
.navbar-default .navbar-toggle:focus{background-color:#FFF}
.navbar-default .navbar-toggle:focus .icon-bar{background-color:#007aff}
.navbar-default .navbar-nav > .open > a{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus{color:#fff;background-color:#007aff;border:0;border-radius:0}
.navbar-nav > li > a{padding-top:0;padding-bottom:0}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus{color:#fff;background-color:#007aff}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{color:#ff8000}
.dropdown-menu{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;max-height:0;display:block;overflow:hidden;padding:0;border:0;background-color:rgba(0,0,0,0)}
.open > .dropdown-menu{max-height:500px}
.dropdown-menu > li > a{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;padding:6px 20px;color:#fff;background-color:rgba(0,122,255,0.8)}
.dropdown-menu > li > a:hover{padding:6px 20px;color:#fff;background-color:#014b9d}
.navbar-collapse.collapse.in{right:1px;left:15px;max-height:120%;position:fixed;top:80px;right:0;left:15px;right:0;overflow:scroll;background-color:#002}
/*.btn{font-size:12px}*/
.navbar-nav{padding-top:3px}
.navbar-nav li{/*font-size:12px;line-height:23px;*/color:#999}
.cd-top{position:fixed;bottom:20px;right:10px;box-shadow:0 0 10px rgba(0,0,0,0.05);overflow:hidden;white-space:nowrap;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s,visibility 0 .3s;-moz-transition:opacity .3s 0s,visibility 0 .3s;transition:opacity .3s 0s,visibility 0 .3s}
.cd-top span{vertical-align:middle}
a.to-tp:link,a.to-tp:visited{color:#333;float:right;display:inline-block;width:45px;height:45px;z-index:99999;font-size:32px;text-align:center;vertical-align:middle}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{-webkit-transition:opacity .3s 0s,visibility 0 0;-moz-transition:opacity .3s 0s,visibility 0 0;transition:opacity .3s 0s,visibility 0 0}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:.5}
.cd-top:hover{background-color:#999;color:#FFF!important;opacity:1}
.bnr-728-ful-wdth{text-align:center;padding:20px 0}
.mn-srch-btn,.mn-srch-btn:visited{background-color:#5BAF0F;color:#FFF;width:42px;height:28px;display:inline-block;text-align:center;vertical-align:middle;float:right;margin-right:-42px}
.mn-srch-btn:hover{opacity:.8}
.mn-srch-btn span{vertical-align:middle}
.navbar-header{width:223px}
.tabs-00{padding:10px 0 8px 0}
.tabs-00 ul.ui-tabs-nav{padding:0;margin:0;list-style:none;float:left;overflow:hidden}
.tabs-00 ul.ui-tabs-nav li{display:inline-block}
.tabs-00 .ui-state-default a:link,.tabs-00 .ui-state-default a:visited{color:#222;display:block;padding:0 20px;height:26px;line-height:26px;position:relative;z-index:7;-webkit-border-top-left-radius:2px;-moz-border-top-left-radius:2px;border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-top-right-radius:2px;border-top-right-radius:2px;background:#e6e6e6;background:-moz-linear-gradient(top,#e6e6e6 0%,#d3d3d3 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e6e6e6),color-stop(100%,#d3d3d3));background:-webkit-linear-gradient(top,#e6e6e6 0%,#d3d3d3 100%);background:-o-linear-gradient(top,#e6e6e6 0%,#d3d3d3 100%);background:-ms-linear-gradient(top,#e6e6e6 0%,#d3d3d3 100%);background:linear-gradient(to bottom,#e6e6e6 0%,#d3d3d3 100%)}
.tabs-00 .ui-state-active a:link,.tabs-00 .ui-state-active a:visited{color:#07274a;position:relative;z-index:9;background:#16b5ff}
.srch-tbs-cntnt{background-color:#16b5ff;padding:7px 10px}
.srch-tbs-cntnt div{border:2px solid #118bca;overflow:hidden;padding-right:42px}
.cntn-tbs-hldr{clear:both}
.srch-tbs-cntnt input{height:28px;border:0;padding:0 10px;display:block;width:100%}
a.pst-by-btn:link,a.pst-by-btn:visited{color:#fff;font-size:.8em;font-weight:700;text-align:center;text-transform:uppercase;line-height:30px;height:31px;display:inline-block;float:left;padding:0 8px;background:#0d6294;border-bottom:3px solid #054055;margin-top:0;margin-left:15px}
.tabs02 ul{list-style:none;padding:0;padding-left:15px;margin:0}
.tabs02 ul.tabing li{display:inline-block}
.tabs02 > div{display:block;padding:25px;background:#fff;border:1px solid #c8c8c8;border-radius:0 3px 3px 3px;-moz-border-radius:0 3px 3px;-webkit-border-radius:0 3px 3px 3px;margin:0 15px}
.tabs02 a.tab_nav{color:#606060;font-size:16px;padding:12px 22px;display:inline-block;border:1px solid #c8c8c8;border-bottom:none;margin-bottom:-1px;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;background:#f0f0f0;background:-moz-linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#e6e6e6));background:-webkit-linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%);background:-o-linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%);background:-ms-linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%);background:linear-gradient(to bottom,#fdfdfd 0%,#e6e6e6 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd',endColorstr='#e6e6e6',GradientType=0)}
.tabs02 .ui-tabs-active a.tab_nav{background:#fff;color:#606060;border-top-color:#09f;border-top-width:2px}
.lft-btn{text-align:right}
.adToCrt{position:absolute;top:0;left:68px;width:27px;height:27px;display:block;text-indent:-9999px;overflow:hidden;background:url(../images/addtocrtsprt.png) 0 -84px}
.lstng-stly-02 figure figcaption p.inr-lst01{color:#333}
.lstng-stly-02 figure figcaption p.inr-lst01 span{color:#999}
.lstng-stly-02 figure figcaption p.inr-lst02{color:#AA0C2B}
.lstng-stly-02 figure figcaption p.inr-lst02 span{color:#999}
.shr-prnt-br02{padding-top:15px}
.hdr-styl-004{color:#ff5400;font-size:18px;margin-top:5px}
.hdr-styl-004 a:link,.hdr-styl-004 a:visited{color:#ff5400}
.sml-p-wth-spn{font-size:12px}
.sml-p-wth-spn span{color:#a6a6a6}
.ad-pd{padding:15px}
.lft-btn-hldr{padding:10px 0}
.nrml-p{font-size:14px;color:#696969;line-height:18px}
.inf-tbl{margin-top:10px;margin-bottom:10px}
.inf-tbl tr td{color:#444;font-size:12px}
.inf-tbl tr:first-child td{border-top:0}
.inf-tbl tr td:first-child{color:#a6a6a6}
.nvFx{position:relative}
.crt-area{background-color:#16b5ff;float:right;margin:10px 10px 0 0}
.crt-area.open ul.dropdown-menu,.crt-area ul.dropdown-menu{right:25px;left:initial;z-index:999;background-color:#FFF;top:79px;border-radius:0;padding:0}
.crt-area.open a.crt-btn:link,.crt-area.open a.crt-btn:visited{background-color:#FFF;color:#004361;border-bottom:1px solid #FFF}
.crt-area.open ul.dropdown-menu{padding:14px;border:1px solid #0B92C4;border-top:0}
a.crt-btn:link,a.crt-btn:visited{color:#FFF;margin-left:13px;border:1px solid #0B92C4;padding:4px 12px;display:inline-block}
a.crt-btn .badge{background-color:#004361;color:#FFF}
nav header h2{margin-top:0}
nav header h2 a:link,nav header h2 a:visited{color:#65bb15;font-size:19px}
.sid-mnu{position:relative;list-style:none;overflow:visible;padding:0}
.sid-mnu .fa-angle-right{float:right;overflow:hidden;font-size: 16px;color: #a0a0a0}
.sid-mnu ul{list-style:none;padding:0;padding-right:42px}
ul.sub-lvl-two-itm{-webkit-transition:all 100ms ease-out 0;-moz-transition:all 100ms ease-out 0;-o-transition:all 100ms ease-out 0;transition:all 100ms ease-out 0;list-style:none;display:none;opacity:0;position:absolute;z-index:-1;background-color:#FFF;left:300px;top:0}
.lvl-one-mnu-itm a:link,.lvl-one-mnu-itm a:visited{display:block;border-top:1px solid #e8e8e8;padding:7px 0;color:#333;font-size:12px;text-decoration:none}
.lvl-one-mnu-itm:hover{box-shadow:2px 3px 4px rgba(0,0,0,.25)}
.lvl-one-mnu-itm a:hover,.lvl-one-mnu-itm:hover > a{color:#ff8000;z-index:9999;display:block;position:relative;background-color:#FFF}
ul.sub-lvl-two-itm{padding:10px 10px 10px 20px;border:1px solid #e8e8e8}
.lvl-one-mnu-itm:hover .sub-lvl-two-itm{z-index:999;display:block;opacity:1}
.sub-lvl-two-itm h4{color:#FF9000;font-size:18px;margin-top:0}
.mor-mnu-itms{clear:both}
.sub-sub-itms li{float:left;width:100%}
.sub-sub-itms li a:link,.sub-sub-itms li a:visited{border:0;padding:5px 0}
section{background-color:#FFF;padding-bottom:20px}
section.srvs header{text-align:center;margin-bottom:40px}
main section.srvs header h2 a{font-size:36px}
section.srvs{padding-top:40px}
.pymnt-sc{border:1px dashed #484848;padding:5px 0}
.pymnt-sc p{line-height:45px;margin:0}
.clnt-stt{padding-bottom:15px}
.clnt-stt > *{font-size:12px;color:#000;padding-right:10px;display:inline-block}
.clnt-stt i{font-size:14px;color:#8b8b8b}
.clnt-stt > * span{width:18px;height:18px;display:inline-block;float:left;margin-right:5px;margin-top:-2px}
.vrfid{background:url(../images/vrfid.png) top -26px center no-repeat}
.clnt-nm{background:url(../images/cntct-info-spirt.png) -21px center no-repeat}
.cntct-dtls{background:url(../images/inf-abut-clnk-icons.png) -129px -45px no-repeat}
a.rmov-itm-frm-crt:link,a.rmov-itm-frm-crt:visited{color:#f68f91}
.clnt-lst-ifo{font-size:0}
.clnt-lst-ifo a{display:inline-block;height:23px;width:25px;background-image:url(../images/inf-abut-clnk-icons.png);background-repeat:no-repeat}
.clnt-lst-ifo a.vidos{background-position:-25px top}
.clnt-lst-ifo a.brshrs{background-position:-50px top}
.clnt-lst-ifo a.com-info{background-position:-75px top}
.clnt-lst-ifo a.dels{background-position:-50px top}
.clnt-lst-ifo a:last-child{width:27px}
.flg-ico{display:inline-block;float:right;margin-left:5px;color:#555;line-height:25px;font-size:12px}
.deals-row article figure{overflow:hidden;border-bottom:1px solid #efefef;margin-bottom:7px}
.deals-row article figure figcaption h4{line-height:12px;margin-bottom:5px}
.deals-row article figure figcaption a:link,.deals-row article figure figcaption a:visited{color:#143d8d;font-size:12px}
.deals-row article figure figcaption a:hover{color:#ff8000}
.p-1{font-size:11px;color:#666;margin-bottom:3px}
.p-2{color:#999;line-height:16px;font-size:11px}
.alrm-ico{background:url(../images/alrm-ico.png) left center no-repeat;padding-left:21px;font-size:12px;padding-right:3px;color:#666;font-weight:700}
a.img-wrpr{float:left;width:60px;height:60px;display:inline-block}
a.img-wrpr img{max-width:100%}
a.tag,span.tag{font-size:9px;float:right;display:inline-block;background-color:#000;color:#FFF;padding:6px 10px 4px;line-height:9px;text-decoration:none}
.hdr-styl-03 a.tag,a.tg-thm3,span.tg-thm3{background-color:#FF9000}
.hdr-styl-03 h4 a{color:#FF9000}
.hdr-styl-04 h4 a{color:#4BC0F6}
.hdr-styl-05 h4 a{color:#7DBE09}
.hdr-styl-04 a.tag,a.tg-thm4,span.tg-thm4{background-color:#4BC0F6}
.hdr-styl-05 a.tag,a.tg-thm5,span.tg-thm5{background-color:#7DBE09}
a.tg-thm3,a.tg-thm4,a.tg-thm5,span.tg-thm3,span.tg-thm4,span.tg-thm5{float:none;margin-right:5px}
.deals-row > article p{color:#8a8a8a;font-size:12px}
a.pst-btn:link,a.pst-btn:visited,a.pst-btn{color:#5e5e5e;font-size:11px;font-weight:700;text-align:center;line-height:30px;text-transform:uppercase;display:block;padding:0 15px;bottom:0;background:#F3F3F3;border-radius:3px;border-bottom:3px solid #c6c6c6;margin-top:10px;float:none;clear:both}
a.pst-btn:hover{background:#EEE}
a.pst-btn:active{line-height:33px;border:none}
.deals-row a.vw-mr-btn{float:right;clear:both;overflow:hidden;height:20px}
.main-asid{padding-left:0}
.grbd-itms{padding-right:0}
.wht-cnts-say{background-color:#edf5f9;padding:10px 10px 0;margin-top:15px;}
.wht-cnts-say h4{margin-top:0}
.clnst-tstmls-itm{padding:10px 0;border-top:1px solid #e5e5e5}
.clnst-tstmls-itm img{width:60px;float:left;display:inline-block;text-align:center;border:3px solid #e0e0e0;border-radius:3px;margin-right:6px}
.clnst-tstmls-itm h5{margin-top:0;color:#7dbe09;margin-bottom:2px;line-height:15px}
.clnst-tstmls-itm h6{color:#31aae6;margin-bottom:2px;margin-top:0}
.clnst-tstmls-itm span{color:#807f7f;padding:0;margin:0;line-height:12px}
.clnst-tstmls-itm p{color:#666;margin-top:5px;margin-bottom:5px;}
.quts-spn{float:right;display:inline-block;width:50px;height:35px;background:url(../images/quots.png) center no-repeat}
/*.clnst-tstmls-itm p i{width:15px;height:13px;display:inline-block;background:url(../images/p-quots.png) center no-repeat}*/
a.try-it-btn:link,a.try-it-btn:visited{background-color:#cbeeff;color:#1a1f21;display:block;margin:5px -10px 0;font-size:12px;font-weight:700;clear:both;border-bottom:3px solid #85d6fd;padding:15px 0 15px 15px}
a.try-it-btn:active{border:none;padding-top:18px}
a.try-it-btn:active span.glyphicon{margin-right:2px}
a.try-it-btn span.try-it{color:#16b5ff;font-size:17px;display:block;font-weight:700}
a.try-it-btn .glyphicon{float:right;margin-right:5px;font-size:17px;margin-top:12px;color:#16b5ff}
.wht-cnts-say .vw-mr-btn{float:right;clear:both;overflow:hidden;height:20px}
.fotorama{background-color:#FFF}
.fotorama__dot{width:10px!important;height:10px!important;border:0;background-color:#bebebe}
div .fotorama__nav__frame.fotorama__nav__frame--dot.fotorama__active .fotorama__dot{background-color:#666}
.fotorama__nav-wrap{position:absolute;bottom:0}
.thumbnail .caption h3{-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;font-size:18px;margin:5px 0;line-height:23px;height:42px;overflow:hidden;color:#444}
.fotorama__caption{text-align:center;font-size:20px}
.fotorama__caption__wrap{max-width:50%;background-color:rgba(0,119,255,.7);color:#FFF}
.fotorama__html div,.fotorama__html a{display:block;height:100%;text-indent:-9999px}
figure.thumbnail{-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;color:#555}
figure.thumbnail:hover{box-shadow:0 1px 12px 1px rgba(0,0,0,0.2);cursor:pointer;cursor:hand}
figure.thumbnail img{-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;width:100%;height:auto}
figure.thumbnail:hover img{opacity:.8}
figure.thumbnail:hover h3{color:#007aff}
.about-artcl header h2{font-size:36px;margin-bottom:20px}
.about-artcl p{color:#777;font-family:Arial,Tahoma;margin-left:6px;padding-left:15px;border-left:4px solid #e5e5e5;text-align:justify;padding-right:15px;line-height:22px;font-size:15px}
h1,h1 a:link,h1 a:visited,h2,h2 a:link,h2 a:visited,h3,h3 a:link,h3 a:visited{color:#007aff;text-decoration:none}
h1 a:hover,h1 a:hover,h2 a:hover,h3 a:hover{color:#f83d3d}
.btn-style-1{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;padding:5px 16px;font-size:13px;background-color:#00418a;color:#FFF;border:0;border-radius:4px}
.btn-style-1:hover{padding:5px 19px;color:#00418a;background-color:#FFF;box-shadow:0 1px 12px 1px rgba(0,0,0,0.2)}
.cntr{margin:0 auto;display:inherit}
.login-box{background-color:#07f;padding:40px;border-radius:5px;width:400px;margin:0 auto;-moz-box-shadow:2px 1px 10px rgba(68,68,68,0.6);-webkit-box-shadow:2px 1px 10px rgba(68,68,68,0.6);box-shadow:2px 1px 10px rgba(68,68,68,0.6);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)}
.login-box input[type=text],.login-box input[type=email],.login-box input[type=password]{padding:5px 11px;margin-bottom:6px;width:100%;border-radius:4px;max-width:100%;border:0}
.login-box .btn-style-1{max-width:40%;text-align:center;margin-top:10px;text-decoration:none}
.lstng-stly-02 .row{padding-top:15px}
a.img-lnk-hldr img{max-width:100%;vertical-align:middle;display:inline;}
a.img-lnk-hldr:link,a.img-lnk-hldr:visited{float:left;margin-right:15px;display:inline-block;width:90px;height:90px;overflow:hidden;border:1px solid #c9c9c9;line-height:77px}
a.img-lnk-hldr:hover{border-color:#999}
.row.lstng-stly-02{padding-top:15px}
.lstng-stly-02 figure{margin-bottom:20px}
.lstng-stly-02 figure figcaption h3 a:link,.lstng-stly-02 figure figcaption h3 a:visited{font-size:13px;color:#1686dd;vertical-align:top}
header.hdr-styl-02{border-bottom:5px solid #e3e3e3}
.lstng-stly-02 figure figcaption h3{padding-right:24px;margin-bottom:0;margin-top:0}
.lstng-stly-02 figure figcaption h3 span{float:right;margin-right:-24px}
.lstng-stly-02 figure figcaption h3 span img{vertical-align:top}
.lstng-stly-02 figure figcaption p{color:#999;font-size:12px;margin-bottom:0;line-height:14px}
.lstng-stly-02 figure figcaption p span{color:#000}
a.vw-mr-btn:link,a.vw-mr-btn:visited{color:#1281b5;position:relative;padding-right:15px;display:inline-block;font-size:12px}
a.vw-mr-btn:after{font-size:13px;}
.clnt-dtls-lst li{color:#888;font-size:15px}
.clnt-dtls-lst li span{color:#444;font-size:16px}
.table-responsive thead td{color:#323232;background-color:#ebebeb;font-size:13px;font-weight:700}
.cntct-lst{list-style:none;padding:0;margin:0}
.cntct-lst li{margin-bottom:7px}
.cntct-lst li span{margin-right:10px;font-size:15px}
.cntct-lst li a:link,.cntct-lst li a:visited{color:#007aff}
.cntct-from{background-color:#f3f3f3;padding:15px}
.cntct-from input,.cntct-from textarea{width:280px;margin-bottom:5px;padding:5px;border-radius:3px;border:0;border:1px solid #dcdcdc}
.cntct-from input:focus,.cntct-from textarea:focus{outline:0;border:1px solid #00418a}
.owl-carousel{/*border-top:5px solid #e3e3e3;*/padding-top:15px;position:relative;padding-right:30px;padding-left:30px}
.owl-carousel .owl-item{padding:0 6px}
.owl-carousel .owl-item a:link,.owl-carousel .owl-item a:visited{color:#1686dd;font-size:12px}
.owl-carousel .owl-item a:hover{color:#ff8000}
.img-hldr{padding:2px;border:1px solid #c9c9c9;display:block}
.owl-carousel .owl-item a:hover .img-hldr{border:1px solid #ff8000;opacity:.8}
.owl-nav{width:100%;position:absolute;top:0}
.owl-prev{border-radius:0 5px 5px 0;top:15px;opacity:.7;right:28px;width:28px;position:absolute;min-height:137px;background:#f3f3f3 url(../images/rt-arw.png) center no-repeat}
.owl-next{border-radius:5px 0 0 5px;opacity:.7;top:15px;left:-28px;width:28px;position:absolute;min-height:137px;background:#f3f3f3 url(../images/lft-arw.png) center no-repeat}
.owl-prev:hover,.owl-next:hover{opacity:1}
.sdMnu,.sdTbs{padding:0}
.tabs-01{border:3px solid #e5e5e5;border-top:0}
.tabs-01 .ui-tabs-nav{overflow:hidden}
.tabs-01 ul{list-style:none;padding:0;margin:0}
.tabs-01>ul:first-child li{display:inline-block;width:50%;float:left}
.tabs-01>ul:first-child li:first-child{border-top:5px solid #17387c}
.tabs-01>ul:first-child li:last-child{border-top:5px solid #83c40f}
.tabs-01 .ui-state-default{background-color:#f1f1f1}
.tabs-01 .ui-state-default a:link,.tabs-01 .ui-state-default a:visited{text-align:center;display:block;padding:10px 0;color:#777}
.tabs-01>ul:first-child li:first-child a:link span,.tabs-01>ul:first-child li:first-child a:visited span{color:#17387c}
.tabs-01 .ui-state-default a:link span,.tabs-01 .ui-state-default a:visited span{color:#83c40f}
.tabs-01 .ui-tabs-active{background:#FFF}
.ui-state-active a{outline:0}
.tabs-01 div ul{padding-top:10px;padding-left:15px;padding-bottom:10px}
.sdTbs div li{padding-bottom:10px}
.sdTbs div a:link,.sdTbs div a:visited{/*font-size:12px;*/color:#547cab}
.sdTbs div a:hover{color:#ff8000;text-decoration:underline}
.tabs-01 .icos {display:inline-block;float:left;width:18px;height:18px;background-position:center; background-repeat:no-repeat; margin-right:5px}
.ico-01{background-image:url(../images/ico-01.png);}
.ico-02{background-image:url(../images/ico-02.png);}
.ico-03{background-image:url(../images/ico-03.png);}
.ico-04{background-image:url(../images/ico-04.png);}
.ico-05{background-image:url(../images/ico-05.png);}
.ico-06{background-image:url(../images/ico-06.png);}
.lstng-stly-01{margin:0 -10px}
.lstng-stly-01 figure{margin-bottom:15px;padding:0 4px}
.lstng-stly-01 figure div{border:1px solid #e8e8e8;overflow:hidden;border-radius:3px}
.lstng-stly-01 figure img{width:100%;height:auto}
.lstng-stly-01 figure figcaption a:link,.lstng-stly-01 figure figcaption a:visited{text-transform:capitalize;height:36px;display:block;padding:5px 0 5px 10px;background:#e8e8e8;position:relative;line-height:13px;color:#000;font-size:12px}
.lstng-stly-01 figure figcaption a .glyphicon-menu-right{line-height:25px;font-size:9px;float:right;margin-right:4px;display:inline-block;height:30px}
.hdr-styl-01{color:#65bb15;margin-bottom:8px;font-size:18px}
.hdr-styl-asid{color:#247cb9;text-align:center;margin-bottom:15px;font-size:14px;background:#E6E6E6;padding:10px}
.ful-wdth-img{width:100%;height:auto;display:block}
.fedbk-bx{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;z-index:222;position:fixed;bottom:70px;right:-381px;width:380px;background-color:#f5f5f5;border-left:1px solid #16b5ff;box-shadow:1px 0 1px 1px rgba(0,0,0,0.10)}
.fedbk-bx form{float:left;margin-left:-20px;padding:15px 10px;width:371px}
.fedbk-btn{background-color:#16b5ff;color:#FFF;font-size:18px;display:inline-block;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);float:left;margin-left:-73px;margin-top:228px;border-radius:5px 5px 0 0;padding:10px;cursor:pointer;cursor:hand}
.fedbk-bx form input,.fedbk-bx form textarea{width:100%;padding:2px 5px}
.fedbk-btn:hover{background-color:#14A8ED}
.fedbk-bx form label{display:block;font-size:14px;color:#666;margin-top:12px}
.fedbk-bx form label span{color:red}
.shwFedBk{right:0!important}
.fedbk-bx form button{color:#fff;text-align:center;height:25px;line-height:25px;display:inline-block;padding:0 10px;margin-top:10px;background:#FF8E00;border:none;border-bottom:3px solid #C77309;border-radius:2px;cursor:pointer}
.fedbk-bx form button:hover{background:#EC8300}
.breadcumb-list{overflow:hidden;padding:1px 0;filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)}
.breadcumb-list ul{margin-top:5px;margin-bottom:5px}
.breadcumb-list li{color:#1281b5;display:inline-block;margin-right:10px;position:relative}
.breadcumb-list li:last-child{font-size:12px}
.brcrmb-inr{padding:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;filter:none;-ms-filter:none}
.brcrmb-inr ul{padding-left:0}
.brcrmb-inr li{color:#999}
.breadcumb-list li a:link,.breadcumb-list li a:visited{font-size:12px;margin-right:10px;vertical-align:baseline}
.breadcumb-list li a:hover{text-decoration:underline;color:#ff8000}
.breadcumb-list li a small{margin-left:5px;color:#999}
.breadcumb-list li:after{content:"›";font-size:14px;position:absolute;top:0;right:-2px}
.breadcumb-list li:last-child:after{display:none}
.custm-tbl{color:#333;font-size:12px}
.full-blk{margin:15px;padding:20px;background:#fff;border:1px solid #c8c8c8;margin-top:5px}
.full-blk header > *{font-weight:700;margin-bottom:15px}
.shrt-prduct-ifo{margin-top:-10px}
.shrt-prduct-ifo p{color:#333}
.shrt-prduct-ifo p.secP{color:#555;margin-top:10px}
span.ttl{color:#a6a6a6}
.cnct-inf-sid{background:#fff;box-shadow:1px 1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px 1px #ccc}
.cnct-inf-sid ul{padding:0;margin:0;list-style:none}
.cnct-inf-sid ul li{font-size:12px;overflow:hidden;border-bottom:1px solid #efefef;overflow:hidden;padding:2px 0;line-height:20px;color:#8f8f8f}
.cnct-inf-sid ul li i{margin-left:4px;margin-right:10px;font-size:14px}
.cnct-inf-sid ul li:last-child{border-bottom:0}
.cnct-inf-sid li span{width:20px;height:20px;float:left;background:url(../images/cntct-info-spirt.png) center;margin-right:10px}
.cnct-inf-sid li span img,.flg-lft img{max-width:100%;max-height:100%}
.flg-lft{float:left;display:inline-block;width:20px;height:20px;margin-right:5px}
li span.flg-emty-bg-ico{background:none}
li span.brfcs-ico{background-position:left center}
li span.prfl-ico{background-position:20px center}
li span.cal-ico{background-position:40px center}
li span.dt-ico{background-position:60px center}
.tLft{padding:10px;background:#f4f8fa;color:#666;font-size:13px;text-align:center;margin-top:5px}
.tLft span{color:#6b91c1;font-size:26px;display:inline-block}
.cntr-btn{text-align:center;padding:10px 0}
.grn-btn{color:#fff;font-size:18px;line-height:32px;display:inline-block;padding:0 20px;background:#F8A605;border-bottom:3px solid #f76f07;border-radius:2px}
.grn-btn:active, .grn-btn:hover{color:#fff;line-height:38px;border:none}
a.fv-link{font-size:12px}
.fv-ico{width:14px;height:14px;display:inline-block;background:url(../images/fv-ico.png) top center;margin-right:9px;margin-left:3px;float:left;margin-top:3px}
a.fv-link:hover span{background-position:14px 28px}
.shrt-prduct-ifo .cat-p,.cat-p{color:#0a5291;font-size:12px;line-height:23px}
.cat-p .fa-files-o{font-size:16px}
.cat-ico{background:url(../images/cat-ico.png) center;width:20px;height:20px;display:inline-block;float:left;margin-right:5px}
.hdr-styl-001{color:#0a5291;font-size:28px}
.shr-prnt-br{padding-top:5px;border-top:1px solid #efefef}
.prnt-br a{line-height:20px;font-size:12px;color:#646464}
.prnt-br a i{font-size:14px;margin-right:2px}
.prnt-br a:after{color:#646464;content:"|";margin-right:3px;margin-left:2px;color: #ccc}
.prnt-br a i.fx-i-sz{font-size:10px;margin-right:-4px}
.prnt-br a span{width:16px;height:20px;display:inline-block;float:left;background:url(../images/prnt-ml-lk-crt.png) top center;margin-right:5px}
div span.prnt-16{background-position:16px top}
div span.eml-16{background-position:32px top}
div span.fv-16{background-position:48px top}
div span.crt-16{background-position:0 0}
.prnt-br a:last-child:after{content:"";margin:0}
footer{background-color:#ededed}
footer .top-bar{border-bottom:1px dotted #ccc;padding:10px 0}
a.andrid-app:link,a.andrid-app:visited{background:url(../images/android.png) center no-repeat;width:124px;height:40px;display:inline-block}
a.andrid-app:hover{opacity:.8}
a.ios-app:link,a.ios-app:visited{background:url(../images/ios.png) center no-repeat;width:140px;height:40px;display:inline-block}
a.ios-app:hover{opacity:.8}
.subscrib-blk div{float:right}
.subscrib-blk p{float:left;margin-bottom:0;line-height:26px;margin-right:10px;color:#333;font-size:14px}
.subscrib-blk input[type="text"]{max-width:165px;min-width:160px;padding:5px;border:1px solid #c7c7c7;float:left;-webkit-appearance:none;line-height:15px}
.btn_subscribe,.btn_subscribe:visited{color:#fff;border-radius:3px;background:#16b5ff;border-bottom:3px solid #0e78aa}
.fotr-fotr{background:#ededed;border-top:1px dotted #ccc;padding:10px 0}
.clr-bth{display:block;clear:both}
.midl-fotr{padding:15px 0}
.midl-fotr .row article{border-right:1px solid #ccc}
.midl-fotr .row > div:last-child article{border:0}
.midl-fotr .row article ul{list-style:none;padding:0}
.midl-fotr .row article ul li a:link,.midl-fotr .row article ul li a:visited{color:#7a7a7a;font-size:12px;font-weight:400}
.midl-fotr .row article ul li a:hover{color:#000;text-decoration:underline}
.sml-abut p{color:#7a7a7a;font-size:12px;border-top:1px solid #ccc;margin-top:15px;padding-top:15px}
footer .copyright-txt{color:#999;text-align:right;font-size:12px}
.trms-lst{list-style:none;padding:0;margin:0}
.trms-lst li{float:left;border-right:1px solid #595959;padding:0 10px}
.trms-lst li a:link,.trms-lst li a:visited{color:#595959;font-size:12px}
.trms-lst li:last-child{border:none}
.trms-lst li:first-child{padding-left:0}
.folow-us span{display:inline-block;color:#a0a0a0;padding-bottom:5px;float:left;margin-right:5px}
.folow-us a{border-radius:2px;margin-right:5px;display:inline-block;float:left;overflow:hidden;font-size:27px;margin-top:-7px}
a.facebook-ico:link,a.facebook-ico:visited{color:#3b5998}
a.twitter-ico:link,a.twitter-ico:visited{color:#2B7BB9}
a.google-plus-ico:link,a.google-plus-ico:visited{color:#db4437}
a.youtube-ico:link,a.youtube-ico:visited{color:#E51E14}
a.linkedin-ico:link,a.linkedin-ico:visited{color:#0077b5}
a.instagram-ico:link,a.instagram-ico:visited{color:#af8c40}
a.rss-ico:link,a.rss-ico:visited{color:#F8A605}
a.whatsapp-ico:link,a.whatsapp-ico:visited{color:#21bc34}
.folow-us a:hover{opacity:.8}
.folow-us span.sml-txt-blk{display:block;font-size:12px;color:#7a7a7a;padding-top:4px;line-height:12px}
.asid-prdct-itm img{max-width:100%}
.asid-prdct-itm a,.asid-prdct-itm a:link,.asid-prdct-itm:visited{color:#024485;text-align:center;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px}
.asid-prdct-itm > a{height:110px;line-height:110px;background:#fff;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.spnsrs-asid{padding:15px 20px;padding-top:0;margin:0 0 10px;border:1px solid #e5e5e5;background:#f7f7f7;position:relative}
.spnsrs-asid header h3{margin-top:0;margin-right:-20px;margin-left:-20px}
.asid-prdct-itm figcaption p{color:#000;font-size:11px;text-align:center}
.asid-prdct-itm figcaption p span{color:#666}
.asid-prdct-itm figcaption h4{margin-bottom:3px;margin-top:6px}
.inr-scnd-hdr h2{color:#247cb9;font-size:18px}
.innr-ftshrd-sup{padding:1px 15px 0;box-shadow:0 0 3px rgba(0,0,0,0.44);margin-top:15px;position:relative}
.innr-ftshrd-sup header.hdr-styl-02{border-bottom:0}
.innr-ftshrd-sup header.hdr-styl-02 h4{margin-top:20px;color:#247cb9}
.featured-tg{width:75px;height:75px;position:absolute;z-index:1;background:url(../images/new-feturd.png) left bottom -50px no-repeat;right:-6px;top:-6px}
.inr-hdr-blk{color:#000;margin-top:0}
.innr-sd-mnu header h2{font-size:18px;color:#000}
.spn-clr-01{color:#ff8000;font-weight:700}
.top-tabl-op-bar,.dataTables_wrapper .bottom{border:1px solid #e6e6e6;background:#f9f9f9;padding-right:0;font-size:12px;background:-moz-linear-gradient(top,#f9f9f9 0%,#f5f5f5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9f9f9),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(top,#f9f9f9 0%,#f5f5f5 100%);background:-o-linear-gradient(top,#f9f9f9 0%,#f5f5f5 100%);background:-ms-linear-gradient(top,#f9f9f9 0%,#f5f5f5 100%);background:linear-gradient(to bottom,#f9f9f9 0%,#f5f5f5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#f5f5f5',GradientType=0)}
.dataTables_length{text-align:right;margin-right:-15px}
.dataTables_length label{font-size:12px;font-weight:400}
select.input-sm{height:22px;line-height:22px;padding:2px 5px;display:inline;width:auto}
.rt-tp-optons{padding-right:0;line-height:27px}
.rt-tp-optons div{float:right;font-size:12px;padding-right:9px}
#next-bttn,#prv-bttn{width:35px;float:right;height:27px;border-left:1px solid #e6e6e6}
#next-bttn{background:url(../images/nxt.png) center no-repeat}
#prv-bttn{background:url(../images/prev.png) center no-repeat;opacity:.4}
.grd-srt-btn,.rows-srt-btn{width:35px;height:27px;border-left:1px solid #e6e6e6}
.grd-srt-btn{background:#FFF url(../images/grid-lsting.png) center no-repeat;border-right:1px solid #e6e6e6;margin-right:15px}
.rows-srt-btn{background:#FFF url(../images/row-lstng.png) center no-repeat}
.fltrs{padding-left:0}
.fltrs label{margin-bottom:0;font-weight:400;margin-top:5px}
.fltrs label input[type="checkbox"]{margin-top:2px;display:inline-block;float:left;margin-right:3px;margin-left:5px}
.wht-bg{background-color:#FFF}
.options-col{overflow:hidden;border-left:1px solid #f2f2f2}
.options-col span{display:block;color:#666;font-size:12px;border-bottom:1px solid #f2f2f2;padding:4px 6px}
.options-col span i{padding-right:5px;font-size:13px;width:21px}
.options-col div{padding:5px}
.options-col div a{padding:4px;border-top:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;float:left;width:30px;text-align:center;color:#d7d7d7}
.options-col div a:last-child{border-right:1px solid #e5e5e5}
.options-col div a:link,.options-col div a:visited{color:#2496d1}
i.verfid{color:#65bb15;font-size:17px!important;line-height:12px}
i.nt-vrfid{color:#ec5c40;font-size:17px!important;line-height:12px}
span.off-lbl{color:#FFF;background-color:#7DBE09;font-size:10px;padding:5px;position:absolute;top:0;left:0}
.options-col span a:link,.options-col span a:visited{color:#666}
.options-col span:first-child a:link,.options-col span:first-child a:visited,.options-col spana:link i.bluu,.options-col span a:visited i.bluu{color:#1281b5}
.pro-thumb-row{padding-top:15px;padding-bottom:15px}
.pro-thumb-row:hover{-webkit-box-shadow:1px 1px 3px 2px rgba(0,0,0,.20);-moz-box-shadow:1px 1px 3px 2px rgba(0,0,0,.20);box-shadow:1px 1px 3px 2px rgba(0,0,0,.20);transition:background-color .3s ease;-moz-transition:background-color .3s ease;-webkit-transition:background-color .3s ease;-o-transition:background-color .3s ease}
a.img-hldr-product{width:122px;height:122px;margin-right:15px;display:block;float:left;overflow:hidden;position:relative;border:1px solid #ccc}
a.img-hldr-product img{max-width:100%}
.table.dataTable thead{display:none}
.pro-thumb-sumry{color:#666;font-size:13px;line-height:18px;margin-top:5px;display:-webkit-box;-webkit-line-clamp:2;-moz-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;text-overflow:-o-ellipsis-lastline}
a.prduct-thumb-ttl:link,a.prduct-thumb-ttl:visited{color:#093979;font-size:16px;font-weight:700}
.rqst-qution-hldr{margin-top:30px}
.rqst-qution-hldr .grn-btn{font-size:12px;line-height:28px;padding:0 14px}
.sml-flg{width:16px;margin-right:4px;height:auto}
.dataTables_wrapper .bottom{overflow:hidden}
div .dataTables_wrapper .bottom .pagination{margin:0!important}
.dataTables_wrapper .bottom .grd-srt-btn,.dataTables_wrapper .bottom .rows-srt-btn{float:right;float:right;margin-right:0;border-right:0}
.dataTables_wrapper .bottom .rows-srt-btn:before{content:"View By: ";float:right;margin-right:41px;white-space:nowrap;margin-top:7px;color:#999}
.dataTables_wrapper .bottom .dataTables_paginate{float:left}
.dataTables_wrapper .bottom .pagination > li > a,.dataTables_wrapper .bottom .pagination > li > span{font-size:10px;background-color:#fafafa;color:#000;border-radius:0}
.dataTables_wrapper .bottom .pagination{float:left}
.dataTables_wrapper .bottom .pagination > .active > a{background:#ededed;border:1px solid #c6c3c3;background:-moz-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#e2e2e2));background:-webkit-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background:-o-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background:-ms-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background:linear-gradient(to bottom,#ededed 0%,#e2e2e2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#e2e2e2',GradientType=0)}
.actv-grid{background-color:#ededed;background-color:-moz-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background-color:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#e2e2e2));background-color:-webkit-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background-color:-o-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background-color:-ms-linear-gradient(top,#ededed 0%,#e2e2e2 100%);background-color:linear-gradient(to bottom,#ededed 0%,#e2e2e2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#e2e2e2',GradientType=0)}
.gly-vuo tr{width:25%;float:left;position:relative;height:202px}
.gly-vuo .img-ttl-col{float:none;width:100%}
.gly-vuo .img-ttl-col a.img-hldr-product{margin:0 auto;float:none}
.gly-vuo .options-col{float:none;width:100%;padding:0;border:0}
.gly-vuo .pro-thumb-sumry,.gly-vuo .options-col div,.gly-vuo .b-frst-t-rvu,.gly-vuo .cntct-dtlls{display:none}
.gly-vuo .rqst-qution-hldr,.gly-vuo .produc-by{display:none}
.gly-vuo a.prduct-thumb-ttl:link,.gly-vuo a.prduct-thumb-ttl:visited{font-size:13px}
.gly-vuo .pro-thumb-row:hover .produc-by,.gly-vuo .pro-thumb-row:hover .b-frst-t-rvu{display:block}
.gly-vuo .pro-thumb-row:hover{position:absolute;padding:20px;z-index:999;background-color:#FFF;left:-18px;top:0}
.scnd-btn{display:none}
.gly-vuo .pro-thumb-row:hover .scnd-btn{display:block;text-align:center;margin-top:11px}
.table.dataTable tfoot{display:none}
.gly-vuo tbody tr td{border:0}
.sid-filtr-hldr .nrml-lst li a:link,.sid-filtr-hldr .nrml-lst li a:visited{color:#024485;line-height:14px;font-size:12px;font-weight:700}
.sid-filtr-hldr ul.nrml-lst li li a:link,.sid-filtr-hldr ul.nrml-lst li li a:visited{font-size:11px;font-weight:400}
.sid-filtr-hldr ul.nrml-lst li a i{font-size:5px;vertical-align:middle;padding-right:10px;color:#d5d5d5;margin-top:-2px}
.sid-filtr-hldr ul{padding:0;margin:0;list-style:none}
.sid-filtr-hldr ul li label{font-weight:400;color:#024485;line-height:14px;font-size:12px;cursor:pointer;padding-left:4px}
.sid-filtr-hldr ul li label i{margin-right:4px;font-size:14px;color:#999}
.grn-mid-hdr{color:#65bb15;font-weight:400;font-size:16px;border-top:1px dotted #999;padding-top:11px}
.sid-filtr-hldr .grn-mid-hdr:first-child{padding-top:0;margin-top:0;border-top:none}
.sid-filtr-hldr ul li h5{margin-bottom:2px}
.sing-in-wrppr{background:url(../images/loginV3bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:100%;height:100vh;padding-top:40px}
.sign-in-box{width:100%;max-width:400px;padding:20px;position:fixed;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.inr-cntnt-wrppr{background:#e6eeea;padding:35px}
.cpy-rts-singin-txt{color:#a4ced5;text-align:center;line-height:18px;font-size:12px;padding-top:10px}
.sign-in-box input{padding:12px 8px;width:100%;border:1px solid #e5e6e7;margin:0;vertical-align:middle;font-size:12px;line-height:12px;display:block;margin:0 auto}
.sign-in-box input:focus{outline:none}
.sing-in-btn{font-size:14px;font-weight:700;color:#fff;text-transform:uppercase;width:100%;line-height:42px;display:block;zoom:1;cursor:pointer;overflow:visible;border:none;background:#33b0da;outline:none;-webkit-appearance:none;float:none;display:block;margin:0 auto;margin-top:15px}
.sing-in-btn:hover{opacity:.5}
.val-p{color:#C00;text-align:right;width:90%;margin:0 auto;padding-bottom:6px;font-size:12px}
.cntrd-p{text-align:center;margin-top:20px;font-size:12px}
a.lnkd-btn{display:inline-block;color:#FFF;width:32%;font-size:12px;text-align:center;line-height:25px}
a.fb-btn:link,a.fb-btn:visited{background:#0e75a9}
a.ggl-btn:link,a.ggl-btn:visited{background:#C3420D}
a.lnkdn-btn:link,a.lnkdn-btn:visited{background:#1085AC}
a.lnkd-btn:hover{opacity:.8}
.cat_directory .listing a{color:#666;font-size:12px}
.cat_directory .listing a:hover{color:#03509D;text-decoration:underline}
.cat_directory .sept{color:#ccc}
.oth-p-txt{font-size:12px;text-align:center;padding-top:18px}
input.frmtd-num{width:78%;margin-left:22%;margin-right:0}
.custom-frmt{width:20%;float:left}
.custom-frmt .bfh-selectbox-toggle{padding:10px 24px 9px 12px;height:40px;border:1px solid #e5e6e7;border-radius:0}
.custom-frmt .bfh-selectbox-options{max-width:300px}
input.trms-chk-bx{float:left;width:20px;clear:left;margin-top:4px}
.accpt-trms-cndtions{float:left;text-transform:uppercase;font-size:11px;left:29px;display:inline-block;padding-top:3px}
.sing-up-form{text-align:center}
.sing-up-form label{font-weight:400;display:inline-block;color:#999;font-size:12px}
.sing-up-form label input{float:left;height:18px;width:15px;margin-right:4px;margin-left:9px}
.i-m-spn{color:#666}
.bfh-selectbox-options{text-align:left}
@media (min-width: 1240px) {
<<<<<<< HEAD
.container{width:1270px}
=======
.container{width:1270px;}
>>>>>>> 45abbca6fa779a531aee24d88a73554be9ee6fbf
}
@media (max-width: 960px) {
.navbar-brand{height:70px}
main{padding-top:70px}
.navbar-toggle{margin-top:20px}
.fotorama__caption__wrap{max-width:100%;font-size:15px}
.container{width:100%}
.trk-ur-shpmnt{border-radius:0;margin-top:20px}
section.srvs{padding-top:0}
}
@media (max-width: 767px) {
.srvs .row > div{width:50%;float:left}
.navbar-collapse.collapse.in{max-height:100%}
main div .navbar-collapse.collapse{position:fixed;top:71px;right:0;left:15px;right:0;overflow:scroll;background-color:#002;bottom:0;height:100%;padding-bottom:80px;background-color:rgba(0,40,83,0.98)!important}
.navbar-nav > li > a{padding-top:20px;padding-bottom:20px;border-bottom:1px dashed rgba(0,122,255,0.36);color:#FFF}
.navbar-nav > li:last-child > a{border:0}
.navbar-nav > li > a:link,.navbar-nav > li > a:visited{color:#84bfff}
}
@media (max-width: 500px) {
.navbar-brand{height:60px}
main{padding-top:60px}
.navbar-toggle{margin-top:15px}
.navbar-collapse.collapse.in{top:60px}
.navbar-nav > li > a{padding-top:10px;padding-bottom:10px}
.login-box{max-width:90%;margin-right:15px;margin-left:15px}
.login-box .btn-style-1{max-width:60%}
.fotorama__caption__wrap{font-size:12px}
.srvs .row > div{width:100%;float:none}
}
.sp-large img {width:100%;}
.deal_img_wrap {max-height: 200px; overflow: hidden;}
.blog_post { margin-top: 10px; }
.blog_post .blog_img {height: 200px; overflow: hidden; text-align: center;}
.blog_post img {width: 100%;}
.blog_post p {color: #666}
.blog_strip { padding:10px 15px; text-align: center; }
.blog_post .date {font-size: 12px; color: #e0e0e0}