main{background: url(../images/sit-bg.png) repeat; padding-top: 84px;}
.navbar-brand > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
body, p{font-family: Tahoma, Arial;}
h1, h2, h3, h4, h5, h6, .fotorama__caption__wrap, .navbar-default .navbar-nav > li > a, .clnt-dtls-lst li, .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {direction: rtl; font-family: 'DroidArabicKufiRegular';
   font-weight: normal;
   font-style: normal; }
body, p{font-family: Tahoma, Arial;}
.col-sm-6, .col-md-6, .col-sm-4, .col-md-4{float: right; direction: rtl;}
.table{direction: rtl;}
.navbar-brand{height: 80px; padding: 6px 15px;}
.navbar{-moz-box-shadow: 2px 1px 10px rgba(68,68,68,0.6);
	-webkit-box-shadow: 2px 1px 10px rgba(68,68,68,0.6);
	box-shadow: 2px 1px 10px rgba(68,68,68,0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)"; background-color: #FFF;}

.navbar-default .navbar-toggle{border: 0; background-color: #FFF;}
.navbar-default .navbar-toggle .icon-bar{background-color: #000;}
.navbar-default .navbar-toggle:focus{background-color: #FFF;}
.navbar-default .navbar-toggle:focus .icon-bar{background-color: #007aff;}
.navbar-default .navbar-nav > .open > a{-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color: #fff;
    background-color: #007aff;}
.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #007aff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #007aff;
}

.dropdown-menu{-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0; display: block; overflow: hidden;padding: 0; border: 0; background-color: rgba(0, 0, 0, 0);}
.open > .dropdown-menu{max-height: 500px;}
.dropdown-menu > li > a {
  -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    padding: 6px 20px;
    color: #fff;
    background-color: rgba(0,122,255,0.8);
}

.dropdown-menu > li > a:hover {
    padding: 6px 20px;
    color: #fff;
    background-color: #014b9d;
}

.navbar-collapse.collapse.in{right: 1px;
    left: 15px;
    max-height: 120%;
    position: fixed;
    top: 80px;
    right: 0;
    left: 15px;
    right: 0px;
    overflow: scroll;
    background-color: #002;}
/*
.dropdown:hover > ul.dropdown-menu{max-height: 100% !important;}
*/

section{background-color: #FFF; padding-bottom: 40px;}
section.srvs header{text-align: center; margin-bottom: 40px;}
main section.srvs header h2 a{font-size: 36px;}
section.srvs{padding-top: 40px;}


.pymnt-sc{border: 1px dashed #484848; padding: 5px 0;}
.pymnt-sc p{    line-height: 45px;margin: 0;}

/* Track your Shipment */
.trk-ur-shpmnt{background-color: #07f; padding-bottom: 15px; border-radius: 5px 0px 0px 5px;}
.trk-ur-shpmnt header, .trk-ur-shpmnt p{color: #FFF;}
.trk-ur-shpmnt header h3{font-size: 19px; color: #FFF;}
.trk-ur-shpmnt p{opacity: 0.8; font-weight: normal; direction: rtl;}
.trk-ur-shpmnt textarea{-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; width: 100%; margin-bottom: 2px; padding: 5px; min-height: 70px; border: 1px solid #00418a; background-color: #c5e0ff;
}
.trk-ur-shpmnt textarea:hover, .trk-ur-shpmnt textarea:focus{    background-color: #FFF;
    color: #00418a !important;
    outline: 2px solid #00418a;}
/* End Track your Shipment */

.fotorama {background-color: #FFF;}
.fotorama__dot{width: 12px !important; height: 12px !important; border: 0; background-color: #bebebe;}
div .fotorama__nav__frame.fotorama__nav__frame--dot.fotorama__active .fotorama__dot{background-color: #007aff;}


.thumbnail .caption h3{-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;font-size: 18px; margin: 5px 0; line-height: 23px;
    height: 42px;
    overflow: hidden;
    color: #444;}
.fotorama__caption{text-align: center; font-size: 20px;}
.fotorama__caption__wrap{max-width: 50%;background-color: rgba(0,119,255,.7);
    color: #FFF;}
    /* Stretch the links */
.fotorama__html div,
.fotorama__html a {
    display: block;
    height: 100%;
    text-indent: -9999px;
}
figure.thumbnail{-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; color: #555;}
figure.thumbnail:hover{box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2); cursor: pointer;
    cursor: hand;}
figure.thumbnail img{-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 100%;
  height: auto;
}
figure.thumbnail:hover img{opacity: 0.8;}
figure.thumbnail:hover h3{color: #007aff;}
.about-artcl header h2{font-size: 36px; margin-bottom: 20px; direction:rtl;}
.about-artcl p{color: #777;
    font-family: Arial, Tahoma;
    margin-right: 6px;
    padding-right: 15px;
    border-right: 4px solid #e5e5e5;
    text-align: right;
    padding-left: 15px; line-height: 22px;
    font-size: 15px;}

h1, h1 a:link, h1 a:visited, h2, h2 a:link, h2 a:visited, h3, h3 a:link, h3 a:visited{color: #007aff;
    text-decoration: none;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: right;}
p{direction: rtl;}
h1 a:hover, h1 a:hover,h2 a:hover, h3 a:hover{color: #f83d3d;}

.btn-style-1{-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; padding: 5px 16px; font-size: 13px;
    background-color: #00418a;
    color: #FFF;
    border: 0;
    border-radius: 4px;}
.btn-style-1:hover{padding: 5px 19px; color: #00418a; background-color: #FFF; box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2);}
.cntr{margin: 0 auto; display: inherit;}


/* Login page Style */
.login-box{background-color: #07f; padding: 40px;
    border-radius: 5px; width: 400px; margin: 0 auto; -moz-box-shadow: 2px 1px 10px rgba(68,68,68,0.6);
    	-webkit-box-shadow: 2px 1px 10px rgba(68,68,68,0.6);
    	box-shadow: 2px 1px 10px rgba(68,68,68,0.6);

    	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";}
.login-box input[type=text], .login-box input[type=email], .login-box input[type=password] {
    padding: 5px 11px;
    margin-bottom: 6px;
    width: 100%; border-radius: 4px; max-width: 100%; border: 0;
}
.login-box .btn-style-1{max-width: 40%; text-align: center; margin-top: 10px; text-decoration: none;}
/* End Login page Style */

/*  Client Details List */
.clnt-dtls-lst{direction: rtl;}
.clnt-dtls-lst li{color: #888; font-size: 15px;}
.clnt-dtls-lst li span{color: #444; font-size: 16px;}
.table-responsive thead td{color: #FFF; background-color: #07f; font-size: 16px;}
/* End Clients Details List */

/* Contact List Style */
.cntct-lst{list-style: none; padding: 0; margin: 0; direction: rtl;}
.cntct-lst li{margin-bottom: 7px;}
.cntct-lst li span{margin-left: 10px; font-size: 15px;}
.cntct-lst li a:link, .cntct-lst li a:visited{color: #007aff;}
.cntct-from{background-color: #f3f3f3;  padding: 15px;}
.cntct-from input, .cntct-from textarea{width: 280px; margin-bottom: 5px; padding: 5px; border-radius: 3px; border: 0; border: 1px solid #dcdcdc;}
.cntct-from input:focus, .cntct-from textarea:focus{outline: 0; border: 1px solid #00418a;}
/* End Contact List Style */

footer{background-color: #000; padding: 20px 0;}
footer ul{padding: 0; margin: 0; list-style: none; text-align: right;}
footer ul li{display: inline-block; margin-left: 10px; }
footer ul li:first-child{margin-left: 0;}
footer ul li a:link, footer ul li a:visited{color: #999; text-decoration: none; display: block;}
footer .copyright-txt{color: #999; text-align: center;}



@media (max-width: 960px) {
  .navbar-brand {height: 70px;}
  main{padding-top: 70px;}
  .navbar-toggle{margin-top: 20px;}
  .fotorama__caption__wrap {
      max-width: 100%;
      font-size: 15px;
  }
  .container{width: 100%;}
  .trk-ur-shpmnt{border-radius: 0; margin-top: 20px;}
  section.srvs{padding-top: 0px;}
}

@media (min-width: 768px){
.navbar-header {
    float: right;}
    .navbar-nav > li {
        float: right;
    }
}

@media (max-width: 767px) {
  .srvs .row > div{width: 50%; float: left;}
  .navbar-collapse.collapse.in {max-height: 100%;}
  main div .navbar-collapse.collapse {
    position: fixed;
    top: 71px;
    right: 0;
    left: 15px;
    right: 0px;
    overflow: scroll;
    background-color: #002;
    bottom: 0;
    height: 100%;
    padding-bottom: 80px;
    background-color: rgba(0, 40, 83, 0.98) !important;
  }
  .navbar-brand{float: right;}
  .navbar-toggle{float: left;}
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(0, 122, 255, 0.36);
    color: #FFF;
  }
  .navbar-nav > li:last-child > a{border: 0;}
  .navbar-nav > li > a:link,  .navbar-nav > li > a:visited{color: #84bfff;}
}

@media (max-width: 500px) {
  .navbar-brand {height: 60px;}
  main{padding-top: 60px;}
  .navbar-toggle{margin-top: 15px;}
  .navbar-collapse.collapse.in {top: 60px;}
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login-box{max-width: 90%; margin-right: 15px; margin-left: 15px;}
  .login-box .btn-style-1 {
    max-width: 60%;}
  .fotorama__caption__wrap {
      font-size: 12px;
  }
  .srvs .row > div{width: 100%; float: none;}

}
