html,body{height:100%;width:100%}
hr{border-color:#F05F40;border-width:3px;max-width:50px}
hr.light{border-color:#fff}
a{-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;color:#F05F40}
a:hover,a:focus{color:#eb3812}
p{font-size:16px;line-height:1.5;margin-bottom:20px}
.bg-primary{background-color:#F05F40}
.bg-dark{background-color:#222;color:#fff}
.text-faded{color:rgba(255,255,255,0.7)}
section{padding:80px 0}
aside{padding:50px 0}
.no-padding{padding:0}
.navbar-default{background-color:#fff;border-color:rgba(34,34,34,0.05);-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
.navbar-default .navbar-header .navbar-brand{color:#F05F40;font-weight:700;text-transform:uppercase}
.navbar-default .navbar-header .navbar-brand:hover,.navbar-default .navbar-header .navbar-brand:focus{color:#eb3812}
.navbar-default .navbar-header .navbar-toggle{font-weight:700;font-size:12px;color:#222;text-transform:uppercase}
.navbar-default .nav > li > a,.navbar-default .nav > li > a:focus{text-transform:uppercase;font-weight:700;font-size:13px;color:#222}
.navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:focus:hover{color:#F05F40}
.navbar-default .nav > li.active > a,.navbar-default .nav > li.active > a:focus{color:#F05F40!important;background-color:transparent}
.navbar-default .nav > li.active > a:hover,.navbar-default .nav > li.active > a:focus:hover{background-color:transparent}
@media (min-width: 768px) {
.navbar-default{background-color:transparent;border-color:rgba(255,255,255,0.3)}
.navbar-default .navbar-header .navbar-brand{color:rgba(255,255,255,0.7)}
.navbar-default .navbar-header .navbar-brand:hover,.navbar-default .navbar-header .navbar-brand:focus{color:#fff}
.navbar-default .nav > li > a,.navbar-default .nav > li > a:focus{color:rgba(255,255,255,0.7)}
.navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:focus:hover{color:#fff}
.navbar-default.affix{background-color:#fff;border-color:rgba(34,34,34,0.05)}
.navbar-default.affix .navbar-header .navbar-brand{color:#F05F40;font-size:14px}
.navbar-default.affix .navbar-header .navbar-brand:hover,.navbar-default.affix .navbar-header .navbar-brand:focus{color:#eb3812}
.navbar-default.affix .nav > li > a,.navbar-default.affix .nav > li > a:focus{color:#222}
.navbar-default.affix .nav > li > a:hover,.navbar-default.affix .nav > li > a:focus:hover{color:#F05F40}
}
header{position:relative;width:100%;min-height:auto;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;background-position:center;background-image:url(../img/header.jpg);text-align:center;color:#fff}
header .header-content{position:relative;text-align:center;padding:100px 15px;width:100%}
header .header-content .header-content-inner h1{font-weight:700;text-transform:uppercase;margin-top:30px;margin-bottom:0;font-size:30px}
header .header-content .header-content-inner hr{margin:50px auto}
header .header-content .header-content-inner p{font-weight:300;color:rgba(255,255,255,1);font-size:19px;margin-bottom:20px; text-shadow: 10px 10px 10px rgba(0,0,0,0.5)}
@media (min-width: 768px) {
header{min-height:100%}
header .header-content{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);padding:0}
header .header-content .header-content-inner{max-width:100%;margin-left:auto;margin-right:auto}
header .header-content .header-content-inner h1{font-size:50px}
header .header-content .header-content-inner p{font-size:18px;max-width:80%;margin-left:auto;margin-right:auto}
}
.section-heading{margin-top:0}
.service-box{max-width:400px;margin:50px auto 0}
@media (min-width: 992px) {
.service-box{margin:20px auto 0}
}
.service-box p{margin-bottom:0}
.portfolio-box{position:relative;display:block;max-width:650px;margin:0 auto}
.portfolio-box .portfolio-box-caption{color:#fff;opacity:0;display:block;background:rgba(240,95,64,0.9);position:absolute;bottom:0;text-align:center;width:100%;height:100%;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{width:100%;text-align:center;position:absolute;top:50%;transform:translateY(-50%)}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{padding:0 15px}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{text-transform:uppercase;font-weight:600;font-size:14px}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:18px}
.portfolio-box:hover .portfolio-box-caption{opacity:1}
.portfolio-box:focus{outline:none}
@media (min-width: 768px) {
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:20px}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:15px}
}
.call-to-action h2{margin:0 auto 20px}
.text-primary{color:#F05F40}
.no-gutter > [class*='col-']{padding-right:0;padding-left:0}
.btn-default{color:#222;background-color:#fff;border-color:#fff;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{color:#222;background-color:#f2f2f2;border-color:#ededed}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{background-image:none}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#fff}
.btn-default .badge{color:#fff;background-color:#222}
.btn-primary{color:#fff;background-color:#F05F40;border-color:#F05F40;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{color:#fff;background-color:#ee4b28;border-color:#ed431f}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#F05F40;border-color:#F05F40}
.btn-primary .badge{color:#F05F40;background-color:#fff}
.btn{border:none;border-radius:300px;font-weight:700;text-transform:uppercase}
.btn-xl{padding:15px 30px}
::-moz-selection{color:#fff;text-shadow:none;background:#222}
::selection{color:#fff;text-shadow:none;background:#222}
img::selection{color:#fff;background:transparent}
img::-moz-selection{color:#fff;background:transparent}
body{webkit-tap-highlight-color:#222}