@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../../fonts/droidkufi/DroidKufi-Regular.eot');
    src: url('../../fonts/droidkufi/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/droidkufi/DroidKufi-Regular.woff') format('woff'),
         url('../../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype'),
         url('../../fonts/droidkufi/DroidKufi-Regular.svg#DroidKufi-Regular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('../../fonts/droidkufi/DroidKufi-Bold.eot');
    src: url('../../fonts/droidkufi/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/droidkufi/DroidKufi-Bold.woff') format('woff'),
         url('../../fonts/droidkufi/DroidKufi-Bold.ttf') format('truetype'),
         url('../../fonts/droidkufi/DroidKufi-Bold.svg#DroidKufi-Bold') format('svg');
    font-weight: normal; font-style: normal;
}
body {font-family: 'Droid Arabic Kufi', sans-serif;}
.cd-intro {direction: rtl}
header .header-content, header .header-content .header-content-inner, .carousel {height:100%;}
.carousel-inner .item {padding-top: 100px;}
.carousel-indicators > li,
.carousel-indicators > li.active{
    width: 175px;
    height: initial;
    padding:15px 10px;
    color: #e5e5e5;
    border-radius: 0;
    border: solid 1px #ccc;
    background: rgba(0, 0, 0, 0.1);
    text-indent: 0; border-radius:25px;
}
.carousel-indicators > li.active { background: rgba(0, 0, 0, 0.6); border: 1px solid #fff; color:#fff; font-weight: 700 }
.guide_me {direction: rtl; }
.guide_me li {text-align: right}

footer {background:#f0f0f0}
/* Widget :: social */
.widget_social ul {
	padding-left: 0;
	text-align: right;
	margin-bottom: 25px;
}
.widget.widget_social li {
	display: inline-block;
	width: auto;
	margin: 0 5px;
}
.widget_social li > a {
    border: 2px solid #e1e5ea;
    shadow: 0 4px 0 rgba(214,215,217,0.25);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}
.widget.widget_social li > a > i{
	margin: 0;
	color: #999;
} 
.widget_social li > a:hover {
	border: 2px solid #F05F40;
	box-shadow: 0 4px 0 #ffffff;
}
.widget_social li > a:hover i {
	color: #F05F40;
}
.navbar-brand img {height: 70px;}
.navbar-brand {padding-top: 0;}
.navbar-nav>li>a {line-height: 37px;}
.service-box h3 {font-size: 18px;}

.service-box {min-height: 175px;}
#mainNav {-webkit-box-shadow: 0px 10px 15px -12px rgba(77,77,77,1);
-moz-box-shadow: 0px 10px 15px -12px rgba(77,77,77,1);
box-shadow: 0px 10px 15px -12px rgba(77,77,77,1);}
.contact h3 {font-size: 18px;}
.text-default {color: #00509F}
.navbar-nav>li {float: right;}
.call-to-action {direction: rtl;}
.call-to-action .text-muted {margin-top: 10px;}
.call-to-action .service-box {min-height: 135px;}
.text-muted {color: #9c9c9c}
.mfp-container {text-align: center;}
.services {direction: rtl}
.services .service_sgl {  }
.nav_lang {padding:15px 30px !important; color: #a22aaa; border-right:1px dotted #666; }
.request_tm {margin-top: 20px;}
.service-box i { -o-transition:.5s;  -ms-transition:.5s;  -moz-transition:.5s;  -webkit-transition:.5s; transition:.5s;}
.service-box:hover i {color: #03509D; }
.cd-headline.clip span {margin: 0 auto;}
@media (max-width: 450px)  {
    header .header-content {padding:56px 0px 10px 0;}
    .carousel-indicators {width: 100%; margin: 0 auto; left:0; padding:0;}
    .carousel-indicators > li, .carousel-indicators > li.active {width:30%; padding:10px 0px;}
    .carousel-inner .item {padding-top: 10px;}
    header .header-content .header-content-inner h1 {margin-top: 10px; font-size: 24px;}
    .cd-intro {margin:20px auto; max-width: 100%}
    header .header-content .header-content-inner h1.cd-headline {font-size: 18px;}
    header .header-content .header-content-inner hr {margin:10px auto;}
    .slider_btns {margin-bottom: 100px;}
    .btn-xl {padding: 8px 20px}
    .cd-words-wrapper b {}
    header .header-content .header-content-inner p {padding:10px 20px;}
    .cd-headline.clip span {display: block}
    .navbar-brand {padding:0 10px;}
    .navbar-brand img {height:100%;}
}
.navbar.affix-top .logo-wh{display: block;}
.navbar.affix-top .logo{display: none;}
.navbar.affix .logo-wh{display: none;}
.navbar.affix .logo{display: block;}