body {font-family:Arial,Tahoma}
.main-header{border-bottom:1px solid #e6e6e6}
.usr-top-nvbr li a:link,.usr-top-nvbr li a:visited{font-size:12px;color:#4d4d4d;font-weight:400}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background-color:#FFF}
.navbar_top .navbar-nav > li > a{padding:4px 8px}
.wlcm-txt{color:#000;font-size:12px;padding-top:5px}
a.nrml-lnk:link,a.nrml-lnk:visited{color:#1686dd;margin-left:5px}
a.nrml-lnk:hover{color:#ff8000}
.wlcm-txt a:first-child{border-right:1px solid #1686dd;padding-right:7px}
.tabs-hds a{font-size:12px;font-weight:500;display:inline-block;padding:5px 5px 10px;color:#1b346c;text-shadow:1px 1px 1px #fff;border:1px solid #c0d7e5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:1px 1px 5px 0 #ccc;-webkit-box-shadow:1px 1px 5px 0 #ccc;box-shadow:1px 1px 5px 0 #ccc;padding:49px 42px 15px;background-repeat:no-repeat;background-position:top 9px center;margin-right:14px;position:relative;background-size:32px}
a.msgs-tb-bg:link,a.msgs-tb-bg:visited{background-image:url(../../images/msgs-tb-bg.png)}
a.profil-tb-bg:link,a.profil-tb-bg:visited{background-image:url(../../images/profil-tb-bg.png)}
a.products-tb-bg:link,a.products-tb-bg:visited{background-image:url(../../images/products-tb-bg.png)}
a.dels-tb-bg:link,a.dels-tb-bg:visited{background-image:url(../../images/dels-tb-bg.png)}
a.wbsits-tb-bg:link,a.wbsits-tb-bg:visited{background-image:url(../../images/wbsits-tb-bg.png)}
a.prmt-tb-bg:link,a.prmt-tb-bg:visited{background-image:url(../../images/prmt-tb-bg.png)}
a.lstngs-tb-bg:link,a.lstngs-tb-bg:visited{background-image:url(../../images/lstngs-tb-bg.png)}
a.ppp-tb-bg:link,a.ppp-tb-bg:visited{background-image:url(../../images/ppp-tb-bg.png)}
a.anlytics-tb-bg:link,a.anlytics-tb-bg:visited{background-image:url(../../images/anlytics-tb-bg.png)}
a.stings-tb-bg:link,a.stings-tb-bg:visited{background-image:url(../../images/stings-tb-bg.png)}
.tabs-hds{padding-top:20px}
.tabs-hds a.curnt-ittm::before{content:'';position:absolute;left:40%;bottom:-11px;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #c0d7e5}
.tabs-hds a.curnt-ittm{-webkit-box-shadow:1px 2px 5px 0 #8adaff;box-shadow:1px 2px 5px 0 #8adaff}
.tabs-hds a.curnt-ittm::after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;z-index:-1;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:-webkit-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:linear-gradient(to bottom,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbf1ff',GradientType=0)}
.tabs-hds a::after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;z-index:-1;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:-webkit-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:linear-gradient(to bottom,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0)}
.tbs-cntn-rw{border-top:1px solid #eaeaea;clear:both}
.my-msgs{background-color:#eee}
aside.left-op-col{padding:25px 15px;background:#eff0f1;-moz-box-shadow:inset 0 1px 50px 0 #ddd;-webkit-box-shadow:inset 0 1px 50px 0 #ddd;box-shadow:inset 0 1px 50px 0 #ddd}
.main-ftr{border-top:1px solid #e6e6e6;margin-top:40px;padding-top:10px;padding-bottom:10px}
.ftr-mnu{text-align:left}
.ftr-cpy-rths{text-align:right}
.ftr-ul{padding:0;margin-top:0;list-style:none;}
.ftr-ul li{display:inline-block;font-weight:400;font-size:12px;margin-right:5px;padding-right:5px;color:#b6b6b6;border-right:1px solid #656565;line-height:12px}
.ftr-ul li:last-child{border-right:none}
.ftr-ul li a:link,.ftr-ul li a:visited{color:#656565}
#dash-brd-tbs ul{padding:0;margin-right:0;list-style:none}
#dash-brd-tbs ul li{min-width:110px;text-align:center;font-size:14px;display:inline-block;margin-right:6px;margin-bottom:5px;-moz-box-shadow:1px 2px 5px 0 #ccc;-webkit-box-shadow:1px 2px 5px 0 #ccc;box-shadow:1px 2px 5px 0 #ccc;text-shadow:1px 1px 1px #fff;border:1px solid #c0d7e5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:1px 1px 5px 0 #ccc;-webkit-box-shadow:1px 1px 5px 0 #ccc;box-shadow:1px 1px 5px 0 #ccc;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:-webkit-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:linear-gradient(to bottom,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0)}
#dash-brd-tbs ul li a{background-repeat:no-repeat;background-position:top 15px center}
#dash-brd-tbs ul li.ui-tabs-active{outline:-webkit-focus-ring-color auto 5px;outline-color:-webkit-focus-ring-color;outline-style:auto;outline-width:5px;-moz-box-shadow:1px 2px 5px 0 #8adaff;-webkit-box-shadow:1px 2px 5px 0 #8adaff;box-shadow:1px 2px 5px 0 #8adaff;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:-webkit-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:linear-gradient(to bottom,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbf1ff',GradientType=0)}
#dash-brd-tbs ul li a{padding:70px 18px 10px;display:block;color:#1b346c;text-decoration:none}
.mssgs-tab a{background-image:url(../../images/mssgs-tab-bg-50.png)}
.pofl-tab a{background-image:url(../../images/pofl-tab-bg-50.png)}
.prdcts-tab a{background-image:url(../../images/prdcts-tab-bg-50.png)}
.services-tab a{background-image:url(../../images/ppp-tab-bg-50.png)}
.dl-tab a{background-image:url(../../images/dl-tab-bg-50.png)}
.ws-tab a{background-image:url(../../images/ws-tab-bg-50.png)}
.promt-tab a{background-image:url(../../images/promt-tab-bg-50.png)}
.lstng-tab a{background-image:url(../../images/lstng-tab-bg-50.png)}
.anltcs-tab a{background-image:url(../../images/anltcs-tab-bg-50.png)}
.suprt-tab a{background-image:url(../../images/suprt-tab-bg-50.png)}
.stngs-tab a{background-image:url(../../images/stngs-tab-bg-50.png)}
.ppp-tab a{background-image:url(../../images/ppp-tab-bg-50.png)}
.tb-div{margin-top:15px;padding:20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:2px solid #ccdee9;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#f9fcff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f9fcff));background:-webkit-linear-gradient(top,#fff 0%,#f9fcff 100%);background:-o-linear-gradient(top,#fff 0%,#f9fcff 100%);background:-ms-linear-gradient(top,#fff 0%,#f9fcff 100%);background:linear-gradient(to bottom,#fff 0%,#f9fcff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f9fcff',GradientType=0)}
.tb-div header h6{font-size:18px;color:#083562;margin-bottom:3px;margin-top:0}
.tb-div p{color:#4b4b4b;font-size:12px}
.tb-div div{padding-top:10px}
.tb-div div a{display:inline-block;padding:40px 26px 5px;font-size:12px;background-size:32px 32px;background-repeat:no-repeat;background-position:top center;overflow:hidden}
.inbx-btn{background-image:url(../../images/inbx-btn-bg-32.png)}
.drfts-btn{background-image:url(../../images/drfts-btn-bg-32.png)}
.cmps-btn{background-image:url(../../images/cmps-btn-bg-32.png)}
.rmndr-btn{background-image:url(../../images/rmndr-btn-bg-32.png)}
.contcs-btn{background-image:url(../../images/contcs-btn-bg-32.png)}
.bsnsprfl-btn{background-image:url(../../images/bsnsprfl-btn-bg-32.png)}
.trdinfo-btn{background-image:url(../../images/trdinfo-btn-bg-32.png)}
.facinfo-btn{background-image:url(../../images/facinfo-btn-bg-32.png)}
.rstdtls-btn{background-image:url(../../images/rstdtls-btn-bg-32.png)}
.adprdct-btn{background-image:url(../../images/adprdct-btn-bg-32.png)}
.mngprdct-btn{background-image:url(../../images/mngprdct-btn-bg-32.png)}
.mnggrp-btn{background-image:url(../../images/mnggrp-btn-bg-32.png)}
.mdybnk-btn{background-image:url(../../images/mdybnk-btn-bg-32.png)}
.spcilofr-btn{background-image:url(../../images/spcilofr-btn-bg-32.png)}
.rqstqot-btn{background-image:url(../../images/rqstqot-btn-bg-32.png)}
.prtnshp-btn{background-image:url(../../images/prtnshp-btn-bg-32.png)}
.mngmydls-btn{background-image:url(../../images/mngmydls-btn-bg-32.png)}
.crtdlsalrt-btn{background-image:url(../../images/crtdlsalrt-btn-bg-32.png)}
.mdybnk-btn{background-image:url(../../images/mdybnk-btn-bg-32.png)}
.lstana-btn{background-image:url(../../images/lstana-btn-bg-32.png)}
.ledana-btn{background-image:url(../../images/ledana-btn-bg-32.png)}
.qiklunch-btn{background-image:url(../../images/qiklunch-btn-bg-32.png)}
.usr-compltion-br{height:12px}
ul.quq-lnks{padding:0;margin:0;list-style:none;font-size:12px;color:#616161;margin-bottom:10px}
ul.quq-lnks li a:link,ul.quq-lnks li a:visited{font-size:11px;color:#1f3b96;display:block;padding:4px;border-bottom:1px solid #FFF}
.p-txt{font-size:11px;overflow:hidden;padding-top:10px;padding-bottom:10px;margin-bottom:0;border-bottom:1px solid #fff}
input.frmtd-num{width:78%;margin-left:22%;margin-right:0}
.custom-frmt{width:20%;border:1px solid #222;float:left}
.navbar {padding:5px 0;}
.navbar-brand {min-height: 80px;}
#menu_nav ul {padding:0;margin-right:0;list-style:none}
#menu_nav ul li{font-size:13px;display:inline-block;margin-right:6px;text-shadow:1px 1px 1px #fff;border:1px solid #c0d7e5;border-radius:3px;box-shadow:1px 1px 5px 0 #ccc;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:-webkit-linear-gradient(top,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);background:linear-gradient(to bottom,#fff 0%,#f7f7f7 49%,#f0f0f0 51%,#f0f0f0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0)}
#menu_nav ul li a{background-repeat:no-repeat;background-position:top 8px center;background-size:44px}
#menu_nav ul li.ui-tabs-active,#menu_nav ul li:hover{box-shadow:1px 2px 5px 0 #8adaff;background:#fff;background:-moz-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:-webkit-linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:linear-gradient(to bottom,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbf1ff',GradientType=0)}
#menu_nav ul li:active,#menu_nav ul li.active{box-shadow:1px 2px 5px 0 #8adaff;background:#fff;background:-moz-linear-gradient(bottom,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:-webkit-linear-gradient(bottom,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);background:linear-gradient(top,#fff 0%,#edf8ff 49%,#dbf1ff 50%,#dbf1ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbf1ff',GradientType=0)}
#menu_nav ul li a{padding:58px 9px 7px;min-width:72px;display:block;color:#1b346c;text-align:center;text-decoration:none}

.dash_messages_list li {border-bottom: 1px dotted #a0a0a0; padding:5px 0;}
.dash_messages_list li span {font-size: 11px; color: #999}
.dataTables_wrapper {margin-top: 8px;}
.dataTables_paginate {text-align: right;}
.dataTables_info, .dataTables_length, .dataTables_filter {color: #999; font-size: 12px;}
.dataTables_filter {text-align: right;}
.dataTables_length select {height: 26px; line-height: 26px; padding:2px 10px;}
.dataTables_paginate .pagination {margin-top: 0;}
.disabledMenuItem {    filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: gray;  -webkit-filter: grayscale(1); position: relative;}
.error {color: red;}
label.error{font-size: 13px;}
.required:after {content:'*'; color: red; font-size: 18px; text-align: left; padding-right:5px;}
.wizard > .content > .body {width:100% !important; padding:20px !important;}
.wizard > .steps .number {display: inline-block; width:40px; height:40px; border:1px solid #f0f0f0; text-align: center; float: right; margin-left:10px; border-radius: 8px; background: rgba(100,150,200,0.3);}