@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {margin: 0; padding: 0;}

html {
	height: 100%;}
/*form styles*/
#msform {
	width: 100%;
	height: 100% auto;
	margin: 10px auto;
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #f8a605;
	font-size: 20px;
	width: 33%;
	padding-top: 5px;
	float: left;
	text-align: center;
	position: relative;
}
#progressbar li:before {
	box-shadow: 0px 0px 2px 2px #c4c4c4;
	content: counter(step);
	counter-increment: step;
	width: 70px;
	line-height: 80px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	display: block;
	font-size: 20px;
	color: #333;
	background: white;
	border-radius: 25%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
/*#progressbar li.en:after {
	content: '';
	width: 100%;
	height: 5px;
	background: white;
	position: absolute;
	left: -42%;
	top: 40%;
	z-index: 0; 
}
#progressbar li.ar:after {
	content: '';
	width: 100%;
	height: 7px;
	background: white;
	position: absolute;
	left: 42%;
	top: 40%;
	z-index: 0;
}*/
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #00509f;
	color: white;
	line-height: 60px;
	box-shadow: 0px 0px 2px 2px #c4c4c4;
	font-size: 1.2em;
	border: 3px solid #ffffff;
	/* border-right: 4px solid #f8f8f8; */
}



