@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body, .ui-widget {font-family: 'Droid Arabic Kufi', sans-serif;}
.dataTables_filter {float: left;}
.dataTables_paginate {text-align: left;}
.ftr-ul {text-align: right; }
.ftr-cpy-rths .ftr-ul {text-align: left;}
select.form-control {padding-top: 3px;}
form .panel.panel-default {margin-right: -1px;}
.navbar-left {float: right !important;}
.navbar-right {float: left !important;}
.additional_imgs .media-right, .additional_imgs .media>.pull-right {padding-left: 10px; padding-right: 10px;}
.select2-container, .select2-selection  {direction: rtl;}
.select2-selection  {text-align: right; }
.preview_doc {float: left !important}
.open_site {float: left !important;}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {float: right !important;}
.select2-results__option, .select2-search__field {direction: rtl; text-align: right;}
