body {background: #fefefe}
.panel-default > .panel-heading {font-size: 18px; font-weight: bold; color: #666}
.list-group > a.head_item {font-size: 16px; text-align: center; font-weight: bold;}
.list-group.sidebar a {background-repeat: no-repeat;padding-left: 36px;background-size: 22px;background-position-y: 8px;background-position-x: 7px;}
.additional_imgs input[type="file"] {max-width: 400px;}
img.img_preview {max-width: 100px;}
.additional_imgs img.img_preview {max-width: 60px;}
.additional_imgs .media {margin-bottom: 10px;}
.form-inline .form-control.short {width:75px;}
.msg_read {font-weight: normal;}
.msg_unread td {font-weight: bold; background:#c4ebed;}
.add_new_field {display: inline-block;}
.more_fields div {margin-top: 10px;}
.dataTable img {max-width: 90px;}
form .well.well-sm {background: #c5e7fd}
.main_panel {box-shadow: 3px 6px 6px 0 #ccc; background: #f7f7f7;}
.main_panel legend {color: #F8A605}
#menu_nav a.disabled {cursor: not-allowed;}