@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot');
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/droidkufi/DroidKufi-Regular.woff') format('woff'), url('../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype'), url('../fonts/droidkufi/DroidKufi-Regular.svg#DroidKufi-Regular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot');
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi/DroidKufi-Bold.woff') format('woff'),url('../fonts/droidkufi/DroidKufi-Bold.ttf') format('truetype'),url('../fonts/droidkufi/DroidKufi-Bold.svg#DroidKufi-Bold') format('svg');
    font-weight: normal; font-style: normal;
}
body {font-family: 'Droid Arabic Kufi', sans-serif; font-size: 14px;}