@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {font-family: 'Raleway', sans-serif;}
.slide-image {
    width: 100%;
}
.carousel-holder {
    margin-bottom: 30px;
}
.carousel-control,
.item {
    border-radius: 4px;
}
.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}
.thumbnail img {
    width: 100%;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
footer {
    margin: 50px 0;
}
.factsheet {background: #FFC014; width: 100%; padding:15px; color: #fff}
.factsheet .block {width:100%; margin-bottom: 15px;}
.factsheet .help-block {color: #e5e5e5; font-size: 13px; margin-bottom: 0; margin-top: 1px; }
.verifiedStatus {float: right;}
.contact_suplier {padding:10px 20px; background: #393573; text-align: center; margin-bottom: 10px;}

header .navbar-header {width: 100%; background: #fff}
header .navbar a.navbar-brand {font-weight: bold; font-size: 20px; color:#666 }
header .navbar a.navbar-brand:hover {background:none; color: #FFC014}
header .navbar {background: #fff; margin-bottom: 15px;}
header .navbar a {color: #fff}
header .navbar a:hover {color: #fff; background: #FFC014}
header .navbar_items {background: #F2790F}
legend {font-weight:bold; color:#F2790F }
.company_info {margin-top: 20px;}
.company_info .row { margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px dotted #e2e2e2}
.company_info .col-md-4 { color: #999; font-weight: bold }
.showcase .caption {min-height:54px; height: initial;}
.showcase .caption span {font-size: 15px;}
.yalla_head {background: #e2e2e2}
.yalla_head .navbar {margin-bottom: 10px; min-height: 40px; background: #e2e2e2}
.yalla_head .navbar-brand {padding: 1px 15px; height: 40px; }
.yalla_head .navbar-brand img {max-height: 45px; }
.yalla_head .navbar-form {margin-top: 10px;}
.yalla_head .navbar-right, .yalla_head .navbar-left {margin-top: 8px; margin-bottom: 5px;}
.yalla_head .navbar-text  {margin-top: 14px; margin-bottom: 0px;}
.yalla_head .navbar-nav>li>a {line-height: 15px; padding-top: 8px; padding-bottom: 8px;}