@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot');
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/droidkufi/DroidKufi-Regular.woff') format('woff'), url('../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype'), url('../fonts/droidkufi/DroidKufi-Regular.svg#DroidKufi-Regular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot');
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/droidkufi/DroidKufi-Bold.woff') format('woff'),url('../fonts/droidkufi/DroidKufi-Bold.ttf') format('truetype'),url('../fonts/droidkufi/DroidKufi-Bold.svg#DroidKufi-Bold') format('svg');
    font-weight: normal; font-style: normal;
}
body {font-family: 'Droid Arabic Kufi', sans-serif; font-size: 14px;}

.hp_sidebar {position: absolute; z-index: 999; top: -170px; padding:0 20px}
.main_contents {float: right;}
.sidebar {float: left;}
.logo {float: right;}
.logo_company {float: right; margin-right: 150px; margin-left: initial;}
.ribbon { left: -5px; right: initial; transform: rotate(-88deg); -ms-transform: rotate(-88deg); -webkit-transform: rotate(-88deg); }
.verifiedStatus {float: left;}
.reqBtn {text-align: left;}
.social_nav {float: left;}
.yalla_footer .copyrights {float: left !important;}