@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {font-family: 'Raleway', sans-serif; background: #e0e0e0}

.yalla_head {background: #fff;
}
.yalla_head .navbar {margin-bottom: 0; min-height: 40px; background: #fff;
	border-radius: 0;
-webkit-box-shadow: 0px 0px 8px 1px rgba(10,10,10,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(10,10,10,1);
	box-shadow: 0px 0px 8px 1px rgba(10,10,10,1);
}
.yalla_head .navbar-brand {padding: 1px 15px; height: 40px; }
.yalla_head .navbar-brand img {max-height: 40px; }
.yalla_head .navbar-form {margin-top: 10px;}
.yalla_head .navbar-right, .yalla_head .navbar-left {margin-top: 8px; margin-bottom: 5px;}
.yalla_head .navbar-text  {margin-top: 10px; margin-bottom: 0px; font-size: 13px;}
.yalla_head .navbar-nav>li>a {line-height: 14px; padding-top: 3px; padding-bottom: 3px;}
.yalla_footer {float: left; width: 100%; clear: both;}
.yalla_footer .navbar {margin-bottom: 0; min-height: 40px;}
.yalla_footer .navbar-text {margin-top: 10px; margin-bottom: 10px;}
.yalla_footer .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}

.search_ctrl input[type="text"] {height: 22px;}
.slide-image {width: 100%;}
.carousel-holder {margin-bottom: 30px;}
.carousel-control, .item { /*border-radius: 4px;*/}
.caption h4 {white-space: nowrap;}
.thumbnail img { width: 100%;}
.thumbnail {padding: 0;}

.factsheet {background: #337AB7; width: 100%; padding:15px; color: #fff}
.factsheet .block {width:100%; margin-bottom: 10px;}
.factsheet .help-block {color: #e5e5e5; font-size: 13px; margin-bottom: 0; margin-top: 1px; }
.verifiedStatus {float: right;}
.contact_suplier {padding:10px 20px; background: #666; text-align: center; margin-bottom: 15px;}

header .navbar-header {width: 100%; background: #fff}
header .navbar a.navbar-brand {font-weight: bold; font-size: 20px; color:#666 }
header .navbar a.navbar-brand:hover {background:none; color: #FFC014}
header .navbar {/*background: #fff;*/ margin-bottom: 15px;}
header .navbar a {color: #fff; padding-right:25px; padding-left:25px;}
header .navbar a:hover {}
header .navbar_items {}
legend {font-weight:bold; }
.company_info {margin-top: 20px;}
.company_info .row { margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px dotted #e2e2e2}
.company_info .col-md-4 { color: #999; font-weight: bold }
.showcase .caption {min-height:54px; height: initial;}
.showcase .caption span {font-size: 15px;}
.tempfooter {width:100%; clear: both; float: left;}

.tempfooter .navlinks {margin:0; padding:0;}
.tempfooter .navlinks li { list-style-type: none; }
.tempfooter .navlinks li a {float: right; padding:25px 20px;}
.footer_brand {text-align: center; font-size: 20px; color: #2580E6; padding:20px 0;}

.brand {
	width: 100%; clear: both; position: relative; padding:20px; margin-bottom: 10px; height: 75px;
}
.logo_img {
	width: 125px;height: 125px; background:#fff; position: absolute;z-index: 999;top: -70px;padding: 4px !important;-webkit-border-radius: 3px;padding: 1px;border-style: solid; border-width: 1px;
}
.logo_img img {
	position: absolute;margin: auto;text-align: center;top: 0;left: 0;bottom: 0;right: 0;max-width: 100%;max-height: 100%;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}
.logo_company {
	float: left; margin: 6px 0 0 150px; width: 500px;
}
.logo_company h1 {
	font-size: 28px; margin:0;letter-spacing: -1px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
.logo {
	display: block; float: left;
}

.cd-top{position:fixed;bottom:60px;right:30px;box-shadow:0 0 10px rgba(0,0,0,0.05);overflow:hidden;white-space:nowrap;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s,visibility 0 .3s;-moz-transition:opacity .3s 0s,visibility 0 .3s;transition:opacity .3s 0s,visibility 0 .3s}
.cd-top span{vertical-align:middle}
a.to-tp:link,a.to-tp:visited{color:#333;border-radius:8px;line-height:43px;float:right;display:inline-block;width:50px;height:45px;z-index:99999;font-size:25px;text-align:center;vertical-align:middle}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{-webkit-transition:opacity .3s 0s,visibility 0 0;-moz-transition:opacity .3s 0s,visibility 0 0;transition:opacity .3s 0s,visibility 0 0}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:.5}
.cd-top:hover{background-color:#999;color:#FFF!important;opacity:1}

.temphead {
	position: relative;
}
.ribbon {
	display: block;
    width: 68px;
    height: 64px;
    position: absolute;
    top: -4px;
    right: -5px;
    z-index: 99;
}
.premium_ribbon {
    background: url(../images/prem_ribbon.png) -13px -86px;
}
.free_ribbon {
    background: url(../images/free_ribbon.png) -13px -86px;
}
.prod_item {padding-left: 8px; padding-right: 8px;}
.page_content {margin-left:15px; background: #fff; padding:15px; margin-bottom: 20px;}
.search {margin-bottom: 15px;}
.prod_item {text-align: center;}
.hp_sidebar {position: absolute; z-index: 999; top: -170px; padding:0 20px}
.main_contents {float: left;}
.sidebar {float: right;}
.social_nav {float: right;}
.social_nav .btn {color:#fff; background: #666}
.social_nav .i_facebook {background: #3b5998}
.social_nav .i_twitter {background: #1da1f2}
.social_nav .i_google-plus {background: #dc4e41}
.social_nav .i_youtube {background: #cc181e}
.social_nav .i_linkedin {background: #0077b5}
.social_nav .i_pinterest {background: #ffb264}
.breadcrumb {margin-bottom: 15px;}
.more_prod_item {padding:0px 5px;}
.img_prod {height:120px; overflow: hidden;}
.prod_item .caption {padding:5px 4px; min-height: 50px;}