
<div style="width:100%; background:#e9e9e9; padding:15px 0; direction: rtl; font-size: 16px;">

	<div style="width:70%; margin:20px auto; text-align: center;">
		<a href="http://localhost/yallansadar/new/public" target="_blank"><img src="http://localhost/yallansadar/new/public/frontend/images/logo/logo-ar.png" style="border:none; max-width: 100%;" /></a>
	</div>

	<div style="width:70%; color: #333; background:#fff; margin:20px auto; padding:20px; border:4px solid #BB2B6F; border-radius: 10px; font-family: sans-serif, arial;">
		
		أهلا بك, <strong>Aaa</strong>
		<br><br>

		شكرا على تسجيلك بموقع يلا نصدر.
		<br><br>

		لتفعيل حسابك قم بالضغط على الرابط أدناه
		<br>

		<p style="font-size:14px; color: #0069FF; text-align: center; direction: ltr;">
			<a href="http://localhost/yallansadar/new/public/registration/activate?activation=$2y$10$AeYv0vHorBsAW20b7ZYBGeraOkcUYUvInfnkVRk4xPku82NKIYXCm&email=aaa@box.com" target="_blank">http://localhost/yallansadar/new/public/registration/activate?activation=$2y$10$AeYv0vHorBsAW20b7ZYBGeraOkcUYUvInfnkVRk4xPku82NKIYXCm&email=aaa@box.com</a>
		</p>

		<br><br>

		<strong>شكرا  </strong><br>
		فريق يلا نصدر <br>
	</div>

	<div style="margin-top: 20px; text-align: center; font-family: sans-serif; color: #999; font-size: 13px;">
		<div style="margin:0 auto; width:70%;">

			تم إرسال هذه الرسالة إلى البريد الإلكتروني <a href="mailto:aaa@box.com" style="text-decoration: none; font-weight: bold; color:#487093">aaa@box.com</a>. 
			<br>
			إذا اردت عدم استقبال رسائل أخرى في المثتقبل من الموقع من فضلك اضغط <a href="http://localhost/yallansadar/new/public/registration/unsubscribe?email=aaa@box.com&amp;idn=$2y$10$wXl9k.indWvm.QYkq/HydOOirOPZuYtwAVuSrLQ/HYL75ZP9eYv0G" style="text-decoration: none; font-weight: bold; color:#487093" target="new">إلغاء خدمة الرسائل</a>.

			<br>

			&copy; 2017 - جميع الحقوق محفوظة لدى موقع يلانصدر
		</div>
	</div>
</div>  