body {
	background: #C0C0C0;
}
.btn-primary {
	background: #2890E4; border-bottom: 3px solid #0B5DA0
}
.temphead {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
}
.mainnav {
	background: #252525; border:none;
}
.navbar.mainnav {
	border-radius: 0;
}
.navbar.mainnav li a {
	color: #ccc
	}
.navbar.mainnav a:hover {
	background: #474646; color: #f0f0f0;
}
.navbar.mainnav li.active a {
	color: #333;
	background: rgba(240,240,240,1);
	background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0', GradientType=0 );
}

.brand {
	background: #fff;
}
.logo_company h1 {
	color: #333;
}

.factsheet {
	background: #373737;
}
.factsheet legend {
	color: #f5f5f5;
	font-size: 15px;
}
.factsheet .block strong {
	color: #D5CFCF;
}
.factsheet .help-block {
	color: #B6B6B6;
}
.sheet_paper {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
}
.contact_suplier {
	background: #f0f0f0
}

.panel-primary {
	border-color:#252525;
}
.panel-primary .panel-heading {
	background: #252525;
	color: #ADADAD
}

.hp_showcase, .hp_newproducts {
	border-color: #666
}
.hp_showcase .panel-heading, .hp_newproducts .panel-heading {
	background: #fff;
	color: #3181A2;
	border-color: #f5f5f5;
	padding:15px 20px;
}
.hp_showcase .panel-title, .hp_newproducts .panel-title {
	font-size: 18px;
	font-weight: bold;
}
.submit_group {
	margin-bottom: 0;
}
.search .btn_search {
	background:#252525
}

.breadcrumb {
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-9 */
	color: #000;
	border-color: #868686;
}