
body {background: #f0f0f0}
header .navbar_items {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}
.factsheet{
    background: rgba(132,154,168,1);
    background: -moz-linear-gradient(top, rgba(132,154,168,1) 0%, rgba(117,135,148,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(132,154,168,1)), color-stop(100%, rgba(117,135,148,1)));
    background: -webkit-linear-gradient(top, rgba(132,154,168,1) 0%, rgba(117,135,148,1) 100%);
    background: -o-linear-gradient(top, rgba(132,154,168,1) 0%, rgba(117,135,148,1) 100%);
    background: -ms-linear-gradient(top, rgba(132,154,168,1) 0%, rgba(117,135,148,1) 100%);
    background: linear-gradient(to bottom, rgba(132,154,168,1) 0%, rgba(117,135,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#849aa8', endColorstr='#758794', GradientType=0 );
}
.temphead .navbar-header {background: #f5f5f5; padding:20px 0;}
header .navbar a.navbar-brand {font-size: 28px;}
.contact_suplier {background: #647784}
.slide-image {max-height: 380px;}
.tempfooter {background: #d5dbe0}