body {
	background: #000000;
}
.btn-primary {
	background: #66b81a; border-bottom: 3px solid #488F05
}
.temphead {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
}
.mainnav {
	background: #535353; border:none;
}
.navbar.mainnav {
	border-radius: 0;
}
.navbar.mainnav li a {
	color: #ccc
}
.navbar.mainnav a:hover {
	background: #474646; color: #f0f0f0;
}
.navbar.mainnav li.active a {
	color: #fff;
	background: #E8AD14;
}

.brand {
	background: #fff;
}
.logo_company h1 {
	color: #424242;
}
.factsheet {
	background: #E8AD14;
	border-color: #F8CE0B;
}
.factsheet legend {
	color: #363636;
	font-size: 15px;
}
.factsheet .block strong {
	color: #151C38;
}
.factsheet .help-block {
	color: #363636;
}
.sheet_paper {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
}
.contact_suplier {
	background: #fff
}

.panel-primary {
	border-color:#b3b3b3;
}
.panel-primary .panel-heading {
	background: #535353;
	color: #ADADAD
}

.hp_showcase, .hp_newproducts {
	border-color: #666
}
.hp_showcase .panel-heading, .hp_newproducts .panel-heading {
	background: #fff;
	color: #C79000;
	border-color: #f5f5f5;
	padding:15px 20px;
}
.hp_showcase .panel-title, .hp_newproducts .panel-title {
	font-size: 18px;
	font-weight: bold;
}
.submit_group {
	margin-bottom: 0;
}
.search .btn_search {
	background:#252525;
	border-bottom: 3px solid #585858;
	border-color: #333;
}

.breadcrumb {
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-9 */
	color: #000;
	border-color: #868686;
}