body {
	background: #333 url(../images/wood_bg.jpg) repeat fixed;
}
.btn-primary {
	background: #66b81a; border-bottom: 3px solid #488F05
}

.temphead {
	/*-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);*/
}
.mainnav {
	background: #693620; border:none;
	border-color: #a74228;
}
.navbar.mainnav {
	border-radius: 0;
}
.navbar.mainnav li a {
	color: #ccc;
	padding-right: 25px; padding-left: 25px;
}
.navbar.mainnav a:hover {
	background: #B57945 url(../images/wood_14.gif);
	color: #f0f0f0;
}
.navbar.mainnav li.active a {
	color: #fff;
	background: #B57945 url(../images/wood_14.gif);
}

.brand {
	background: #fff;
}
.logo_company h1 {
	color: #424242;
}
.factsheet {
	background: #160d0a;
	border-color: #F8CE0B;
}
.factsheet legend {
	color: #DBBF9B;
	font-size: 15px;
}
.factsheet .block strong {
	color: #AA8257;
}
.factsheet .help-block {
	color: #7E6E59;
}
.sheet_paper {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
}
.contact_suplier {
	background: #fff
}

.panel-primary {
	border-color:#a07048;
}
.panel-primary .panel-heading {
	color: #e3caad;
	border-color: #a07048;
	background: #5d2001; /* Old browsers */
	background: -moz-linear-gradient(top, #723002 0%, #5d2001 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #723002), color-stop(100%, #5d2001)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #723002 0%, #5d2001 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #723002 0%, #5d2001 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #723002 0%, #5d2001 100%); /* IE10+ */
	background: linear-gradient(to bottom, #723002 0%, #5d2001 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#723002', endColorstr='#5d2001', GradientType=0 ); /* IE6-9 */ 
}

.hp_showcase, .hp_newproducts {
	border:1px solid #b49b7f;
background: #F0E3D1;
}
.hp_showcase .panel-heading, .hp_newproducts .panel-heading {
	background: #fff;
	color: #812816;
	border-color: #f5f5f5;
	padding:15px 20px;
}
.hp_showcase .panel-title, .hp_newproducts .panel-title {
	font-size: 18px;
	font-weight: bold;
}
.submit_group {
	margin-bottom: 0;
}
.search .btn_search {
	color:#fff;
	border-color:#6f1810;
	background: #5C3109; /* Old browsers */
	background: -moz-linear-gradient(top, #B64709 0%, #5C3109 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B64709), color-stop(100%, #5C3109)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B64709 0%, #5C3109 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B64709 0%, #5C3109 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B64709 0%, #5C3109 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B64709 0%, #5C3109 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B64709', endColorstr='#5C3109', GradientType=0 ); /* IE6-9 */	
}

.breadcrumb {
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfbfb 0%, #fff8f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fff8f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #fff8f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfb 0%, #fff8f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfb 0%, #fff8f7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfb 0%, #fff8f7 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#fff8f7', GradientType=0 ); /* IE6-9 */	
    color:#000;
    border-color:#b49b7f;
}
.main_contents {

}